<footer>
  <div class="container">
    <div class="row">
     
      <div class="span3">
          <div class="widget">
            <h5 class="widgetheading">Recent Posts</h5>
                      <!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/9e2e2b2de4205f09a5855e971d5b8928.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
                      <div class="clear">
                      </div>
          </div>
        </div>
      <div class="span3">
        <div class="widget">
          <h5 class="widgetheading">Instagram Stream</h5>
                    <!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/9e2e2b2de4205f09a5855e971d5b8928.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
                    <div class="clear">
                    </div>
        </div>
      </div>
      <div class="span3">
        <div class="widget">
          <h5 class="widgetheading">Important stuff</h5>
          <ul class="link-list">
            
            <li><a href="#">Terms and conditions</a></li>
            <li><a href="#">Privacy policy</a></li>
            
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
      <div class="span3">
        <div class="widget">
          <h5 class="widgetheading">Get in touch</h5>
          <address>
            <strong>GratitudeToday.io</strong><br>
             Saint John, NB, Canada<br>
             E2L 1S4
           </address>
           <p>
            <i class="icon-phone"></i> (506) 639-3357<br>
            <i class="icon-envelope-alt"></i> info@gratitudetoday.io
          </p>
        </div>
      </div>
    </div>
  </div>
  <div id="sub-footer">
    <div class="container">
      <div class="row">
        <div class="span6">
          <div class="copyright">
            <p>
              <span>&copy; GratitudeToday.io - All rights reserved.</span>
            </p>
            <div class="credits">
              
            </div>
          </div>
        </div>
        <div class="span6">
          <ul class="social-network">
            <li><a href="#" data-placement="bottom" title="Facebook"><i class="icon-facebook icon-square"></i></a></li>
            <li><a href="#" data-placement="bottom" title="Twitter"><i class="icon-twitter icon-square"></i></a></li>
            <li><a href="#" data-placement="bottom" title="Linkedin"><i class="icon-linkedin icon-square"></i></a></li>
            <li><a href="#" data-placement="bottom" title="Pinterest"><i class="icon-pinterest icon-square"></i></a></li>
            <li><a href="#" data-placement="bottom" title="Google plus"><i class="icon-google-plus icon-square"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>