
        
            <div class="container">
              <div class="row text-center">
                <div class="col" style = "font-size: .7em;">

                  <ul class="list-inline">
                    <li class="list-inline-item"><a href="#" class="p-2"><i class="fab fa-facebook-square fa-2x" style="color:#3b5998"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="p-2"><i class="fab fa-twitter-square fa-2x" style="color: #38A1F3"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="p-2"><i class="fab fa-linkedin fa-2x" style="color:#0077B5"></i></a></li>
                    &copy; 2019. All Rights Reserved,&nbsp;<a class="copy-info" href="#">ShareTheGratitude.com</a>
                  </ul>
                  
                </div>
              </div>
              
            </div>
         
      
          <!-- loader -->
          <div id="pb_loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#1d82ff"/></svg></div>
      
      
      
          
</body
      