<div class="span4">
    <div class="logo">
        <a href="/"><img src="/assets/img/logo-gratitudetoday-red.png" alt="GratitudeToday.io | gratitude: the quality of being thankful;" title="GratitudeToday.io | gratitude: the quality of being thankful;"class="logo" /></a>
        <!-- <h1>grat·i·tude: the quality of being thankful;</h1> -->
    </div>
    
  </div>