<!-- <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          ...
        </button>
        <div class="dropdown-menu dropdown-custom">
          <a class="dropdown-item dropdown-custom" id="account-link" href="#">Edit Profile</a><br/>
          <a class="dropdown-item dropdown-custom" id="journal-link" href="#">View Journal</a><br/>
          <a class="dropdown-item dropdown-custom" id="signout-link" href="/">Sign out</a><br/>
          
        </div>
      </div> -->


      <div class="dropdown-menu w dropdown-menu-scale pull-right">
				   
        <a class="dropdown-item" id="journal-link" href="#"><span>Journal</span></a> 
        <a class="dropdown-item" id="account-link" href="#"><span>Account</span></a> 
        <a class="dropdown-item" href="#">Need help?</a> 
        <div class="dropdown-divider"></div>
        <a class="dropdown-item"  id="signout-link" href="/"">Sign out</a>
         </div>