<div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          ...
        </button>
        <div class="dropdown-menu dropdown-custom">
          <a class="dropdown-item dropdown-custom" id="account-link" href="#">Edit Profile</a><br/>
          <a class="dropdown-item dropdown-custom" id="journal-link" href="#">View Journal</a><br/>
          <a class="dropdown-item dropdown-custom" id="signout-link" href="/">Sign out</a><br/>
          
        </div>
      </div>