<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

   <title>GratitudeToday.io See what people are being grateful around the world right now</title>
        
        <link rel="icon" href="/images/favicon.png" type="image/x-icon"/>
		<meta name="description" content="See what people are being grateful around the world right now, Gratitude makes us happier, Gratitude makes us healthier, Gratitude Community">
		<meta name="keywords" content="GratitudeToday, gratitude, happier, healthier, community, feel good, happy">

  <!-- Bootstrap core CSS -->
  <link href="/profile-styles/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
  <link href="/profile-styles/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/profile-styles/css/resume.min.css" rel="stylesheet">
  <link href="/profile-styles/css/resume.css" rel="stylesheet">
  

</head>