<section class="newsfeed">
		<div class="container-fluid">
		 <div class="row">
		  <div class="col-lg-3">
		  
		   <div class="storybox" 
            style="background: linear-gradient(#339933,#669999), url(assets/img/posts/2.gif) no-repeat;
                    background-size: cover;
                    background-position: center center;
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;">
          <div class="story-body text-center">
            <div class=""><img class="img-circle" id="profile-avatar" src="/profile/assets/img/avatars/logo-gratitudetoday-red" alt="user"></div>
                <h4 id="profile-name"></h4>
                    <p class="profile-text" >
                        <span id="email"></span><br/>
                        <span  id="url"></span><br/>
                        <span id="location"></span><br/>
                        Joined <span id="reg-date"></span>
                        </p>
                    
              
          </div>		  	  
         </div>
         <div class="storybox" 
         style="background: linear-gradient(#339933,#669999), url(assets/img/posts/2.gif) no-repeat;
                background-size: cover;
                background-position: center center;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;">
        <div class="story-body text-center">
          
          <h4>About:</h4>
          <span id="bio" ></span>
      
        </div>	
       </div>
        
    </div>
       