<div id="slides">
    <ul>
        <li class="slide">
            <div class="quoteContainer">
                <p class="quote-phrase">
                    <h3 class="index-h3">
                        “Gratitude is the healthiest of all human emotions. The more you express gratitude for what you have, the more likely you will have even more to express gratitude for.” <br/>~ Zig Ziglar
                  </h3>

                </p>
            </div>
          
        </li>
        <li class="slide">
            <div class="quoteContainer">
              <p class="quote-phrase">
                  <h3 class="index-h3">
                      “Learn to be thankful for what you already have, while you pursue all that you want.”<br/>~Jim Rohn

              </h3>

              </p>
            </div>
          
        </li>
        <li class="slide">
          <p class="quote-phrase">
              <h3 class="index-h3">
                  “Be thankful for what you have; you’ll end up having more. If you concentrate on what you don’t have, you will never, ever have enough.”<br/>~Oprah Winfrey

          </h3>

          </p>
           
        </li>
        <li class="slide">
          <p class="quote-phrase">
              <h3 class="index-h3">
                  “Feeling gratitude and not expressing it is like wrapping a present and not giving it.”<br/>~William Arthur Ward

          </h3>

          </p>
           
        </li>
    </ul>