<!DOCTYPE html>
<html lang="en">

<head>
 <% include partials/head %>
</head>

<body>
  <div id="wrapper">
    
    
    <section id="inner-headline">
      <div class="container">
        <div class="row">
          <div class="span12">
              <% include partials/logo %>
          </div>
          
        </div>
      </div>
    </section>
    <section id="content">
      <div class="container">
        <div class="row">
             <div class="span4">
            <aside class="right-sidebar">
                <div class="widget">
                <div></div>
                <h5 class="widgetheading" style="padding-top:30px;" id="name"></h5>
                <% include partials/profile-dropdown %>
                
                <span id="Avatar" style="padding-top:20px;"><img id="avatar-img" src="/assets/img/avatar.png" style="padding-bottom: 10px;"></span><br/>
                
                <span id="email"></span><br/>
                <span id="url"></span><br/>
                <span id="location"></span><br/>
                Joined: <span id="reg-date"></span>
                </div>
               
               
              <div class="widget">
                <h5 class="widgetheading">Bio</h5>
                <p id="bio">
                  
                </p>
              </div>
            </aside>
          </div>
          <div class="span8">
            <article>
              <div class="top-wrapper">
                <div class="post-heading">
                    
                     <h4 class="post-header">Update Profile</h4>
                     <a href="#">Change Password</a>|<a href="#">Change Avatar</a>
                     <form class="form-horizontal" id="updateProfile" >
                           <input type="hidden" id="id-hidden" value=""></input>
                           <div class="controls">
                                 
                                 <strong>Email</strong><br/>
                                 <input type="email" class="form-control custom-input-width" id="email" >
                               
                             </div>
                             <br/>
                           <div class="controls">
                                 
                                 <strong>First Name</strong><br/><input type="text" class="form-control custom-input-width" id="firstname" >
                               
                             </div>
                             <br/>
                             <div class="controls">
                                 
                                 <strong>Last Name</strong><br/><input type="text" class="form-control custom-input-width" id="lastname" >
                               
                             </div>
                             <br/>
                             <div class="controls">
                                 
                                 <strong>Address</strong><br/><input type="text" class="form-control custom-input-width" id="location" >
                               
                             </div>
                             <br/>
                             <div class="controls">
                                 <strong>Website</strong><br/>
                                 <input type="url" class="form-control custom-input-width"  class="custom-input-width" id="url">
                                 <!-- <strong></stron>Website</strong><input type="url" class="form-control" id="website" > -->
                               
                             </div>
                             <br/>
                             <div class="controls">
                                 <strong>Bio</strong><br/>
                                 <textarea class="custom-input-width" rows="3" type="text" id="bio"></textarea>
                                 <!-- <strong></stron>Website</strong><input type="url" class="form-control" id="website" > -->
                               
                             </div>
                            
                            
                             
                           <div class="control-group">
                             <div class="controls">
                                <br/>
                              <input type="submit" class="btn btn-success"value="Update">
                              
                             </div>
                           </form>
                </div>
               
              </div>
             
            </article>
          </div>
         
        </div>
      </div>
    </section>
 <% include partials/footer %>
  </div>
  
  <% include partials/scripts %>
  <script  src="/assets/js/postFunctions.js"></script>

  <script>
  $(document).ready(function() {
        // $(".alert").hide();
        getUserInfo('profile');
  });
  
  
  
  </script>


   

</body>

</html>
