<!DOCTYPE html>
<html lang="en">
  <head>
		<% include partials/profilehead %>
  </head>

<body>

     <!-- ==============================================
     Navigation Section
     =============================================== -->  
     <header class="tr-header">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
				 <div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
				   <span class="sr-only">Toggle navigation</span>
				   <span class="icon-bar"></span>
				   <span class="icon-bar"></span>
				   <span class="icon-bar"></span>
				  </button>
				   <a href="/"><img src="/assets/img/logo-gratitudetoday-red.png" alt="GratitudeToday.io | gratitude: the quality of being thankful;" title="GratitudeToday.io | gratitude: the quality of being thankful;" class="logo" /></a>
				 </div><!-- /.navbar-header -->
				 <div class="navbar-left">
				  <div class="collapse navbar-collapse" id="navbar-collapse">
				   <ul class="nav navbar-nav">
				   </ul>
				  </div>
				 </div><!-- /.navbar-left -->
				 <div class="navbar-right">                          
				  <ul class="nav navbar-nav">
					
				  <li class="dropdown mega-avatar">
				   <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
					<span class="avatar w-32"><i style="color:white;" class="fas fa-cog"></i></span>
					<!-- hidden-xs hides the username on small devices so only the image appears. -->
					<span class="hidden-xs">
					 <span id="name"></span>
					</span>
				   </a>
				   <% include partials/profile-dropdown %>
				  </li><!-- /navbar-item -->	
				  
				  </ul><!-- /.sign-in -->   
				 </div><!-- /.nav-right -->
				</div><!-- /.container -->
			   </nav><!-- /.navbar -->
		 </header><!-- Page Header --> </header><!-- Page Header --> 
  
	 <!-- ==============================================
	 Navbar Second Section
	 =============================================== -->
	<!-- <section class="nav-sec">
	  <div class="d-flex justify-content-between">
	   <div class="p-2 nav-icon-lg mint-green">
	   <a class="nav-icon" href="photo_home.html"><em class="fa fa-home"></em>
		<span>Home</span>
	   </a>
	   </div>
	   <div class="p-2 nav-icon-lg clean-black">
	   <a class="nav-icon" href="photo_explore.html"><em class="fa fa-crosshairs"></em>
		<span>Explore</span>
	   </a>
	   </div>
	   <div class="p-2 nav-icon-lg dark-black">
	   <a class="nav-icon" href="photo_upload.html"><em class="fab fa-instagram"></em>
		<span>Upload</span>
	   </a>
	   </div>
	   <div class="p-2 nav-icon-lg clean-black">
	   <a class="nav-icon" href="photo_stories.html"><em class="fa fa-align-left"></em>
		<span>Stories</span>
	   </a>
	   </div>
	   <div class="p-2 nav-icon-lg dark-black">
	   <a class="nav-icon" href="photo_profile.html"><em class="fa fa-user"></em>
		<span>Profile</span>
	   </a>
	   </div>
	  </div>
	</section>	 -->
  
	 <!-- ==============================================
	 News Feed Section
	 =============================================== --> 
	 <section class="newsfeed">
	  <div class="container-fluid">
	   <div class="row">
	    <div class="col-lg-3">
		
		
		 <div class="storybox" 
		   style="background: linear-gradient( rgba(34,34,34,0.78), rgba(34,34,34,0.78)), url('assets/img/posts/2.gif') no-repeat;
		          background-size: cover;
                  background-position: center center;
                  -webkit-background-size: cover;
                  -moz-background-size: cover;
                  -o-background-size: cover;">
          <div class="story-body text-center">
			<div class=""><img class="img-circle" src="assets/img/users/6.jpg" alt="user"></div>
			<h4 id="profile-name"></h4>
			<p>
				<span id="email"></span><br/>
					<span id="url"></span><br/>
					<span id="location"></span><br/>
					Joined <span id="reg-date"></span>
				</p>
          </div>		  	  
		 </div>
		 <div class="storybox" 
		 style="background: linear-gradient( rgba(34,34,34,0.78), rgba(34,34,34,0.78)), url('assets/img/posts/3.gif') no-repeat;
				background-size: cover;
				background-position: center center;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;justify-content:flex-start;height: 100px; ">
		<div class="story-body text-center" style="overflow-wrap: break-word !important;">
		 
		 <h4>About:</h4>
		 <p>
			 <span id="bio" style="overflow-wrap: break-word !important;"></span>
		  </p>
		</div>		  
	   </div>
		 
		</div><!--/ col-lg-3 -->
	    <div class="col-lg-7">
		<!-- <div class="cardbox">
						<div class="alert alert-success alert-post-success text-center" style="width:85%;" role="alert">Post Successfully Submitted!</div>
                        <div class="alert alert-danger  alert-post-danger text-center" style="width:85%;" role="alert">Error occured, please try again.</div>
                        <input type="hidden" id="id-hidden" value=""></input>
                        <input type="hidden" id="postedBy" value=""></input>
						<div class="cardbox-heading">
								<p class="m-0">What are you grateful for today?</p>
						</div>
						<div style="padding-left:15px;"><textarea rows="3" class="custom-input-width" type="text" id="postMsg" maxLength="255" required></textarea>
							<br/>No more than 255 characters. <strong><span id="chars">255</span> characters remaining.</strong><br/>
							<button type="submit" class="btn btn-success">Post</button><br/><br/>
						</div>
				</div> -->
			
         <div class="cardbox">
		 
          <div class="cardbox-heading">
						<p class="m-0" style="padding-left:15px;">Update Account</p>
				</div>
           <!-- START dropdown-->
        
           
          </div><!--/ cardbox-heading -->
          <div style="padding-left:15px">
                  <div class="alert alert-success text-center alert-danger-account" role="alert">Information Updated Succesfully.</div>
                            <div class="alert alert-danger text-center alert-success-account" role="alert">Error updating information, please try again later.</div>
                                
                            <a href="/resetProfileForm" class="profile-link">Change Password</a>
                            <!-- |<a href="#">Change Avatar</a> -->
                            
                            <form class="form-horizontal" id="updateProfile">
                                
                                <input type="hidden" id="id-hidden" value=""></input>
                                  <div class="controls">
                                        
                                        <strong>Email</strong><br/> 
                                        <input type="email" class="form-control custom-input-width" id="info-email" readonly >
                                      
                                    </div>
                                    <br/>
                                  <div class="controls">
                                        
                                        <strong>First Name</strong><br/><input type="text" class="form-control custom-input-width" id="info-firstname" >
                                      
                                    </div>
                                    <br/>
                                    <div class="controls">
                                        
                                        <strong>Last Name</strong><br/><input type="text" class="form-control custom-input-width" id="info-lastname" >
                                      
                                    </div>
                                    <br/>
                                    <div class="controls">
                                        
                                        <strong>Address</strong><br/><input type="text" class="form-control custom-input-width" id="info-location" >
                                      
                                    </div>
                                    <br/>
                                    <div class="controls">
                                        <strong>Website</strong><br/>
                                        <input type="url" class="form-control custom-input-width"  class="custom-input-width" id="info-url">
                                        <!-- <strong></stron>Website</strong><input type="url" class="form-control" id="website" > -->
                                      
                                    </div>
                                    <br/>
                                    <div class="controls">
                                        <strong>About You</strong><br/>
                                        <textarea class="custom-input-width" rows="3" type="text" id="info-bio" maxlength="255"></textarea><br/>
                                        No more than 255 characters. <strong><span id="chars">255</span> characters remaining.</strong>
                                      
                                    </div>
                                    
                                    
                                    
                                  <div class="control-group">
                                    <div class="controls">
                                        <br/>
                                        <input type="submit" class="btn btn-success" id ="updateProfile" value="Save Changes">
                                    
                                      <input type="submit" class="btn btn-default" id="btn-cancel" value="Cancel">
                                      
                                    </div>
                                  </form>
              
                
                  
                        
            </div><!--/ cardbox -->	
           </div> 
     
		
      
		
     
		
		</div><!--/ col-lg-6 -->
	
	   </div><!--/ row -->
	  </div><!--/ container -->
	 </section><!--/ newsfeed -->
  
	 <!-- ==============================================
	 Modal Section
	 =============================================== -->
     <div id="myModal" class="modal fade">
      <div class="modal-dialog">
       <div class="modal-content">
        <div class="modal-body">
		
         <div class="row">
		 
          <div class="col-md-8 modal-image">
           <img class="img-responsive" src="assets/img/posts/1.jpg" alt="Image"/>
          </div><!--/ col-md-8 -->
          <div class="col-md-4 modal-meta">
           <div class="modal-meta-top">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
			 <span aria-hidden="true">×</span><span class="sr-only">Close</span>
			</button><!--/ button -->
            <div class="img-poster clearfix">
             <a href=""><img class="img-responsive img-circle" src="assets/img/users/18.jpg" alt="Image"/></a>
             <strong><a href="">Benjamin</a></strong>
             <span>12 minutes ago</span><br/>
		     <a href="" class="kafe kafe-btn-mint-small"><i class="fa fa-check-square"></i> Following</a>
            </div><!--/ img-poster -->
			  
            <ul class="img-comment-list">
             <li>
              <div class="comment-img">
               <img src="assets/img/users/17.jpeg" class="img-responsive img-circle" alt="Image"/>
              </div>
              <div class="comment-text">
               <strong><a href="">Anthony McCartney</a></strong>
               <p>Hello this is a test comment.</p> <span class="date sub-text">on December 5th, 2016</span>
              </div>
             </li><!--/ li -->
             <li>
              <div class="comment-img">
               <img src="assets/img/users/15.jpg" class="img-responsive img-circle" alt="Image"/>
              </div>
              <div class="comment-text">
               <strong><a href="">Vanessa Wells</a></strong>
               <p>Hello this is a test comment and this comment is particularly very long and it goes on and on and on.</p> <span>on December 5th, 2016</span>
              </div>
             </li><!--/ li -->
             <li>
              <div class="comment-img">
               <img src="assets/img/users/14.jpg" class="img-responsive img-circle" alt="Image"/>
              </div>
              <div class="comment-text">
               <strong><a href="">Sean Coleman</a></strong>
               <p class="">Hello this is a test comment.</p> <span class="date sub-text">on December 5th, 2016</span>
              </div>
             </li><!--/ li -->
             <li>
              <div class="comment-img">
               <img src="assets/img/users/13.jpeg" class="img-responsive img-circle" alt="Image"/>
              </div>
              <div class="comment-text">
               <strong><a href="">Anna Morgan</a></strong>
               <p class="">Hello this is a test comment.</p> <span class="date sub-text">on December 5th, 2016</span>
              </div>
             </li><!--/ li -->
             <li>
              <div class="comment-img">
               <img src="assets/img/users/3.jpg" class="img-responsive img-circle" alt="Image"/>
              </div>
              <div class="comment-text">
               <strong><a href="">Allison Fowler</a></strong>
               <p class="">Hello this is a test comment.</p> <span class="date sub-text">on December 5th, 2016</span>
              </div>
             </li><!--/ li -->
            </ul><!--/ comment-list -->
			  
            <div class="modal-meta-bottom">
			 <ul>
			  <li><a class="modal-like" href="#"><i class="fa fa-heart"></i></a><span class="modal-one"> 786,286</span> | 
			      <a class="modal-comment" href="#"><i class="fa fa-comments"></i></a><span> 786,286</span> </li>
			  <li>
			   <span class="thumb-xs">
				<img class="img-responsive img-circle" src="assets/img/users/13.jpeg" alt="Image">
			   </span>
			   <div class="comment-body">
				 <input class="form-control input-sm" type="text" placeholder="Write your comment...">
			   </div><!--/ comment-body -->	
              </li>				
             </ul>				
            </div><!--/ modal-meta-bottom -->
			  
           </div><!--/ modal-meta-top -->
          </div><!--/ col-md-4 -->
		  
         </div><!--/ row -->
        </div><!--/ modal-body -->
		
       </div><!--/ modal-content -->
      </div><!--/ modal-dialog -->
     </div><!--/ modal -->
	 
	 
      <!-- ==============================================
	 Scripts
	 =============================================== -->
	 <% include partials/scripts %>
  <script src="/assets/js/sign-in.js"></script>
  <script src="/assets/js/postFunctions.js"></script>
  <script src="/assets/js/jquery-custom.js"></script>

  <script>
  $(document).ready(function() {
    
        getUserInfo('profile');
        
  });
  
  
  </script>


  </body>
</html>
