<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head %>
</head>

<body>
  <div id="wrapper">
    
    <!-- end header -->
    <section id="inner-headline">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="inner-heading">
                <% include partials/logo %>
              &nbsp;
            </div>
          </div>
          
      </div>
    </section>
    <section id="content">
      <div class="container">
        <div class="row">
          <div class="span12">
              
            <h4>Account <strong>Activated.</strong></h4>
            <!-- id: <span id="id"></span> -->
            <div class="alert alert-danger text-center alert-activate" role="alert">Error activated your account. Please try again later.</div>
            <p>
                        Your account has been activated.<br/><strong>We are very GRATEFUL to have you as part of the community!</strong><br/><br/>
                        If you aren't directed to the next page, <a id="info-link" href="#">click here.</a><br/>
                        
                        
                        <br/>
                        
                    </p>
                    <br/><br/>
          </div></div>
         
       
    </section>
    <% include partials/footer %>
  

  </div>
  
  <% include partials/scripts %>
  <script src="/assets/js/sign-in.js"></script>

  <script>
  $(document).ready(function() {
   
    getUserInfo('info');
    
    var _id= getUrlParameter("id");
    
    $.ajax({ 
      url: '/users/activateAccount/'+_id,
      type : "POST",
      data: {
          _id:_id,
          activated: "y"
      },
      success : function(user) {
            
        $("#info-link").attr("href",'/info/?id='+_id);
           
          
      },
      error : function(error) {
       
        $(".alert-signup").show();
              
          
      }
  });
  //set time then forward to info
  setTimeout(function(){
    var _id= getUrlParameter("id");
  window.location.assign("/info/?id="+_id);
          // $("#info-link").attr("href",'/info/?id='+_id);
  }, 4000);
});

  </script>
  <% include partials/cookie-msg %>
</body>

</html>
