<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head %>
</head>

<body>
  <div id="wrapper">
    
    <!-- end header -->
    <section id="inner-headline">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="inner-heading">
                <% include partials/logo %>
              &nbsp;
            </div>
          </div>
          
      </div>
    </section>
    <section id="content">
      <div class="container">
        <div class="row">
          <div class="span12">
              
            <h4>Account <strong>Activated.</strong></h4>
            <!-- id: <span id="id"></span> -->
            <p>
                        Thank you for activated your account.<br/><strong>We are very GRATEFUL to have you as part of the community!</strong><br/><br/>
                        If you aren't directed to the next page, <a id="info-link" href="#">click here.</a><br/>
                        
                        
                        <br/>
                        
                    </p>
                    <br/><br/>
          </div></div>
         
       
    </section>
    <% include partials/footer %>
  

  </div>
  
  <% include partials/scripts %>
  <script src="/assets/js/sign-in.js"></script>

  <script>
  $(document).ready(function() {
        getUserInfo('info');
        activateUser();
        
        //set time then forward to info
        setTimeout(function(){
            alert("in time function");
            
            alert($('#info-link').attr('action'));
            
        }, 3000);
});

  </script>
  <% include partials/cookie-msg %>
</body>

</html>
