<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head %>
</head>

<body>
 
    
    <!-- start header -->
    <header>
        <section id="inner-headline">
            <div class="container">
              <div class="row">
                <div class="span12">
                  <div class="inner-heading">
                     <!-- Needed for red bar -->
                  </div>
                </div>
               
            </div>
          </section>
      <div class="container ">
        
        <div class="row nomargin">
          <div class="span4">
           <% include partials/logo %>
          </div>
        </div>
        
        <div class="row">
            
          </div>
          <div class="span8">
            <div class="navbar navbar-static-top">
              
              </div>
              <!-- end navigation -->
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- end header -->
    
    <section id="content">
      <div class="container">
        <div class="row">
          <div class="span12 text-center">
              <h2 class="info-header">Welcome <strong><span class="info-header" id="name"></span>.</strong></h2>
              <h3 class="info-header">Complete your profile.</h3>
          
            <p>
              Don't worry, you can do this later.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
        <div class="row">
          <div class="span12">
          
              <div class="span9">
              <form class="form-horizontal" id="createUserForm" >
                  <div class="control-group">
                    
                      <div class="controls">
                          <strong>Tell us a little more about you</strong><textarea rows="3" type="text" id="bio"></textarea>
                      </div>
                    </div>
                  
                  <div class="controls">
                      
                      <strong>Address</strong><br/><input type="text" class="form-control" id="location" >
                    
                  </div>
                
                
                  
                <div class="control-group">
                  <div class="controls text-center">
                      <br/><input type="button" class="btn btn-default" id="btn_skip" value="Skip">
                      <input type="submit" class="btn btn-success" id ="updateUserInfo" value="Update">
                    
                  </div>
                </form>
              
          </div>
        </div>
      </div>
    </div>
  </section>
  

  <% include partials/footer %>
  <% include partials/scripts %>
  <script>
  $(document).ready(function() {
        getUserInfo('info');
  });
  </script>

</body>

</html>
