<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head %>
</head>

<body>
  <div id="wrapper">
    
    <!-- end header -->
    <section id="inner-headline">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="inner-heading">
                <% include partials/logo %>
              &nbsp;
            </div>
          </div>
          
      </div>
    </section>
    <section id="content">
      <div class="container">
        <div class="row">
            <div class="span3"></div>
            <div class="span6 text-center">
            <h4 style="color:black !important;"><strong>OOPPS! Looks like you found a page that is missing or was mistyped.</strong></h4>
           <img src="/assets/img/not-found-alien.png"</img>
                                 

            <p><a href="/">Click Here.</a> to return home.</p><br/><br/>
            <div class="span3"></div>
          </div>
        </div>
    </section>      
    <% include partials/footer %>
  

  </div>
  <a href="#" class="scrollup"><i class="icon-chevron-up icon-square icon-32 active"></i></a>
  <% include partials/scripts %>
  <script src="/assets/js/sign-in.js"></script>

   
</body>
<% include partials/cookie-msg %>

</html>
