<!DOCTYPE html>
<html lang="en">

<head>

        <% include partials/head %>
  
</head>

<body>
  <div id="wrapper">
    
    <!-- start header -->
    <header>
      <div class="container ">
        
        <!-- <div class="row nomargin">
          <div class="span12 top-bar">
            <div class="headnav">
              <ul>
                <li><a href="#mySignup" class="signup-2" data-toggle="modal"><i class="icon-user"></i> Sign up</a></li>
                <li><a href="#mySignin" class="signin-2" data-toggle="modal">Sign in</a></li>
              </ul>
            </div>
            
          </div>
        </div> -->
        <div class="row">
          <% include partials/logo %>
          <div class="span8">
            <div class="navbar navbar-static-top">
                    <div class="navigation">
                            <nav>
                                <!-- <a href="#" class="scrollup">-->
                              <ul class="nav topnav">
                                <li class="dropdown">
                                  <a href="#mySignup" class="signup-2" data-toggle="modal"><i class="icon-user"></i>Sign Up</i></a>
                                  
                                </li>
                               
                                <li class="dropdown">
                                  <a href="#mySignin" class="signin-2" data-toggle="modal">Sign in</a></a>
                                
                                </li>
                                
                                
                              </ul>
                            </nav>
                          </div>
              
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- end header -->
    <section id="featured">
      <!-- start slider -->
      <!-- Slider -->
      <div id="nivo-slider">
        <div class="nivo-slider">
          <!-- Slide #1 image -->
          <img src="/assets/img/slides/nivo/bg-1.jpg" alt="" title="#caption-1" />
          <!-- Slide #2 image -->
          <img src="/assets/img/slides/nivo/bg-2.jpg" alt="" title="#caption-2" />
          <!-- Slide #3 image -->
          <img src="/assets/img/slides/nivo/bg-3.jpg" alt="" title="#caption-3" />
        </div>
        <div class="container">
          <div class="row">
            <div class="span12">
              <!-- Slide #1 caption -->
              <div class="nivo-caption" id="caption-1">
                <div>
                  <h2>Gratitude improves <strong>physical health.</strong></h2>
                  <!-- <p>
                    Grateful people experience fewer aches and pains and report feeling healthier than other people.
                    <br/><br/>Not surprisingly, grateful people are also more likely to take care of their health. They exercise more often and are more likely to attend regular check-ups, which is likely to contribute to further longevity.
                  </p> -->
                  <br/>
                  <!-- <a id="register-btn|" class="btn btn-theme">Register</a> -->
                </div>
              </div>
              <!-- Slide #2 caption -->
              <div class="nivo-caption" id="caption-2">
                <div>
                  <h2>Grateful people <strong>sleep better.</strong></h2>
                    <!-- <p>
                    "Count blessings, not sheep." Research has found that feeling grateful helps people sleep. 
                    <br/><br/>That’s likely because "you have more positive thoughts before you go to sleep," which may soothe the nervous system.<br/>
                    If you’re going to make a daily gratitude list, it is recommended to write it before bed.
                    </p> -->
                    <!-- <a id="register-btn2" class="btn btn-theme">Register</a> -->
                </div>
              </div>
              <!-- Slide #3 caption -->
              <div class="nivo-caption" id="caption-3">
                <div>
                  <h2>Gratitude increases <strong>mental strength.</strong></h2>
                  <!-- <p> -->
                    <!-- For years, research has shown gratitude not only reduces stress, but it may also play a major role in overcoming trauma. <br/><br/>Higher levels of gratitude experienced lower rates of post-traumatic stress disorder and recognizes all that you have to be thankful even during the worst times. -->
                  <!-- </p> -->
                  <!-- <a id="register-btn3" class="btn btn-theme">Register</a> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end slider -->
    </section>
    <section class="callaction">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="big-cta">
              <div class="cta-text text-center">
                <h3>More <span class="highlight"><strong>100 posts</strong></span>  and counting this year!</h3>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="content">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="row">
              <div class="span3">
                
            </div>
          </div>
        </div>
        
        
        <!-- Portfolio Projects -->
        <div id="posts">
        <div class="row">
          <div class="span12">
            <h4 class="heading">Recent <strong>posts</strong></h4>
            <div class="row">
              <section id="projects">
                <ul id="thumbs" class="portfolio">
                  <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span3 design" data-id="id-0" data-type="web">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The City" href="/assets/img/works/full/image-01-full.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
                    <!-- Thumb Image and Description -->
                    <img src="/assets/img/works/thumbs/image-01.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
                  </li>
                  <!-- End Item Project -->
                  <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span3 design" data-id="id-1" data-type="icon">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Office" href="/assets/img/works/full/image-02-full.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
                    <!-- Thumb Image and Description -->
                    <img src="/assets/img/works/thumbs/image-02.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
                  </li>
                  <!-- End Item Project -->
                  <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span3 photography" data-id="id-2" data-type="illustrator">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Mountains" href="/assets/img/works/full/image-03-full.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
                    <!-- Thumb Image and Description -->
                    <img src="/assets/img/works/thumbs/image-03.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
                  </li>
                  <!-- End Item Project -->
                  <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span3 photography" data-id="id-2" data-type="illustrator">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Mountains" href="/assets/img/works/full/image-04-full.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
                    <!-- Thumb Image and Description -->
                    <img src="/assets/img/works/thumbs/image-04.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
                  </li>
                  </ul>
            </div>
          </div>
        </div>
    </div>
      </section>
        <!-- End Portfolio Projects -->
        <!-- divider -->
        <div class="row">
          <div class="span12">
            <div class="solidline">
            </div>
          </div>
        </div>
        
    <section id="bottom">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="aligncenter">
              <div id="twitter-wrapper">
                <div id="twitter">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
  </div>
  <a href="#" class="scrollup"><i class="icon-chevron-up icon-square icon-32 active"></i></a>
  
<!-- Signup Modal -->
<div id="mySignup" class="modal styled hide fade" tabindex="-1" role="dialog" aria-labelledby="mySignupModalLabel" aria-hidden="true">
    
        <div class="modal-header">
            <div class="alert alert-danger text-center" role="alert"></div>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 id="mySignupModalLabel">Create an <strong>account</strong></h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" id="createUserForm" >
              <div class="control-group">
                  <label class="control-label" for="inputEmail">Email *</label>
                  <div class="controls">
                      <input type="email" id="email"  required>
                  </div>
                </div>
              <div class="control-group">
                  <label class="control-label" for="inputFirst">First Name *</label>
                  <div class="controls">
                    <input type="text" id="firstname" required>
                   
                  </div>
                  
              </div>
              <div class="control-group">
                  <label class="control-label" for="inputLast">Last Name *</label>
                  <div class="controls">
                    <input type="text" id="lastname" required>
                  </div>
                  
              </div>
            
            <div class="control-group">
              <label class="control-label" for="inputSignupPassword">Password *</label>
              <div class="controls">
                <input type="password" id="password" required minlength="6"><br/>
                <span class="small-text">Must be at least 6 chars</span>
              </div>
              
            </div>
            <div class="control-group">
              <label class="control-label" for="inputSignupPassword2">Confirm Password *</label>
              <div class="controls">
                <input type="password" id="confirmpassword" minlength="6" required><br/>
                <span class="small-text pass-msg">Must equal password entered</span>
                <span class="small-text pass-err-msg">Passwords are not equal</span>
              </div>
              
            </div>
            <div class="control-group text-center">
                <input type="checkbox" id="invalidCheck" required>&nbsp;<span class="small-text">Agree to terms and conditions</span>
                
            </div>
            <div class="control-group">
              <div class="controls">
                  <input type="submit" class="btn btn-green" value="Sign up">
                  <!-- <button type="submit" class="btn btn-success">Sign up</button> -->
                
              </div>
              <p class="aligncenter margintop20">
                  <span class="small-text">Already have an account?</span> <a href="#mySignin" data-dismiss="modal" aria-hidden="true" id="signin-open"  data-toggle="modal">Sign in</a>
              </p>
            </div>
          </form>
        </div>
      </div>
      <!-- end signup modal -->
      <!-- Sign in Modal -->
      <div id="mySignin" class="modal styled hide fade" tabindex="-1" role="dialog" aria-labelledby="mySigninModalLabel" aria-hidden="true">
        <div class="modal-header">
            <div class="alert alert-danger text-center login-alert" role="alert">Danger</div>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 id="mySigninModalLabel">Login to your <strong>account</strong></h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" id="loginUserForm" >
            <div class="control-group" id="login-form">
              <label class="control-label" for="inputText">Email Address:</label>
              <div class="controls">
                <input type="email"  id = "loginemail" required>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="inputSigninPassword">Password</label>
              <div class="controls">
                <input type="password" id="loginpassword" minlength="6" required>
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                  <button type="submit" class="btn btn-green">Sign in</button>
                
              </div>
              <p class="aligncenter margintop20">
                  Don't have an account? <a href="#mySignup" data-dismiss="modal" aria-hidden="true" id="signup-open" data-toggle="modal">Sign up</a>
                </p>
              <p class="aligncenter margintop20">
                Forgot password? <a href="#myReset" data-dismiss="modal" aria-hidden="true" data-toggle="modal">Reset</a>
              </p>
            </div>
          </form>
        </div>
      </div>
      <!-- end signin modal -->
      <!-- Reset Modal -->
      <div id="myReset" class="modal styled hide fade" tabindex="-1" role="dialog" aria-labelledby="myResetModalLabel" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 id="myResetModalLabel">Reset your <strong>password</strong></h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">
            <div class="control-group">
              <label class="control-label" for="inputResetEmail">Email</label>
              <div class="controls">
                <input type="text" id="inputResetEmail" placeholder="Email">
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                <button type="submit" class="btn-green">Reset password</button>
              </div>
              <p class="aligncenter margintop20">
                We will send instructions on how to reset your password to your inbox
              </p>
            </div>
          </form>
        </div>
      </div>
      <!-- end reset modal -->
      
      <% include partials/scripts %>
      <script src="/assets/js/sign-in.js"></script>
<script>
      $(document).ready(function(){
         $('#signin-open').click();
        
    });
    $( "#signin-open" ).click(function() {
        $(".alert").hide();
        $(".login-alert").hide();
        $("#loginemail").val("");
        $("#loginpassword").val("");
        

    });
    $( "#signup-open" ).click(function() {
        $(".alert").hide();
        $(".login-alert").hide();
    });
    $( "#signin-2" ).click(function() {
        $(".alert").hide();
        $(".login-alert").hide();
       
        $("#loginemail").val("");
        $("#loginpassword").val("");
    });
    $( "#signup-2" ).click(function() {
        $(".alert").hide();
        $(".login-alert").hide();
    });$( "#register-btn" ).click(function() {
        $(".alert").hide();
        $(".login-alert").hide();
    });

</script>    
      <% include partials/footer %>
     <link rel="stylesheet" type="text/css" href="//wpcc.io/lib/1.0.2/cookieconsent.min.css"/><script src="//wpcc.io/lib/1.0.2/cookieconsent.min.js"></script><script>window.addEventListener("load", function(){window.wpcc.init({"border":"thin","corners":"small","colors":{"popup":{"background":"#491b1b","text":"#ffffff","border":"#e6b3b3"},"button":{"background":"#e6b3b3","text":"#000000"}},"position":"bottom"})});</script>

</body>
</html>
