<!DOCTYPE html>
<html>
   <head>
        <% include partials/head %>
    </head>
    <body>
        <section class="pb_cover_v3 cover-bg-opacity text-left pb_gradient_v1">
         <div class="container">
            <div class="row align-items-center justify-content-center">
               <div class="col-md-6" style="margin-top:-200px;">
                  <h2 class="heading text-left">GratitudeToday.io</h2>
                  <div class="sub-heading text-left">
                     <p class="mb-4">See what people are being grateful around the world right now</p>
                  </div>
                  <div class="sub-heading text-left">
                     <p class="mb-4">Gratitude makes us happier.</p>
                  </div>
                  <div class="sub-heading text-left">
                       
                     <p class="mb-4">Gratitude makes us healthier.</p>
                  </div>
                  <div class="sub-heading text-left">
                     <p class="mb-4">Join the Gratitude Community.</p>
                  </div>
               </div>
               <div class="col-md-1">
               </div>
               <div class="col-md-5 relative align-self-center join-today-index">
                  <div class="text-center err-msg">Message</div>
                  <div class="panel panel-default">
                     <div class="panel-heading">
                        <h3 class="panel-title text-center">Account.</h3>
                     </div>
                     <div class="panel-body">
                        <form class="needs-validation" id="createUserForm" novalidate>
                        
                           <div class="form-row">
                              <div class="col-md-6 mb-3">
                                 <label for="firstname">First name</label>
                                 <input type="text" class="form-control" id="firstname" required>
                                 <div class="invalid-feedback">
                                    Please enter your firstname.
                                 </div>
                              </div>
                              <div class="col-md-6 mb-3">
                                 <label for="lastname">Last name</label>
                                 <input type="text" class="form-control" id="lastname" required>
                                 <div class="invalid-feedback">
                                    Please enter your lastname.
                                 </div>
                              </div>
                           </div>
                           <div class="form-row">
                              <div class="col-md-12 mb-3">
                                 <label for="email">Email</label>
                                 <div class="input-group">
                                    <div class="input-group-prepend">
                                    </div>
                                    <input type="email" class="form-control" id="email" required>
                                    <div class="invalid-feedback">
                                       Please enter a valid email.
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="form-row">
                              <div class="col-md-12 mb-3">
                                 <label for="email">Password</label>
                                 <div class="input-group">
                                    <input type="password" class="form-control" id="password" value="password" required>
                                    <div class="invalid-feedback">
                                       Please enter a valid password.
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="form-row">
                              <div class="col-md-12 mb-3">
                                 <label for="email">Confirm Password</label>
                                 <div class="input-group">
                                    <input type="password" class="form-control" id="confirmpassword" value="password"  required>
                                    <div class="invalid-feedback">
                                       Please enter a valid password.
                                    </div>
                                 </div>
                              </div>
                           </div>
                     </div>
                     <div class="form-group">
                     <div class="form-check">
                     <input class="form-check-input" type="checkbox" checked id="public">
                     <label class="form-check-label" for="public">
                     <span style="padding-left:20px;">Share posts with public.</span>
                     </label>
                     </div>
                     </div>
                     <div class="form-group">
                     <div class="form-check">
                     <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                     <label class="form-check-label" for="invalidCheck">
                     <span style="padding-left:20px;">Agree to terms and conditions</span>
                     </label>
                     <div class="invalid-feedback" id="checkbox-validate" required>
                     You must agree before submitting.
                     </div>
                     </div>
                     </div>
                     <div class="row text-center">
                     <div class="col-md-12 mb-3 md-form ">
                        <button class="btn btn-primary btn-lg btn-block pb_btn-pill  btn-shadow-blue text-center" type="submit">Register</button>
                        <br/><div class="col-md-12 mb-3 md-form text-center">Already a member? <a style="color:green !important;" href="/login/">Login here.</a>
                        </div>
                     </div>
                     </div>
                  </div>
                  </form>
                  <br/>
                  
               </div>
            </div>
         </div>
         </div>
      </section>
      <% include partials/footer %>
       <% include partials/scripts %>
      
    </body>
    <script type="text/javascript">
$( document ).ready(function() {

$(".err-msg").hide();
     

});
$("#createUserForm").submit(function(event) {
   // Prevent the form from submitting via the browser.
   event.preventDefault();
  

});
(function() {
    'use strict';
    window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          // Get the checkbox
          if($("#invalidCheck").prop("checked") == false){
               $("#checkbox-validate").show();
            }
           else{
               $("#checkbox-validate").hide();
            }
         }else{
             event.preventDefault();
            // PREPARE FORM DATA
            var formData = {
               firstname : $("#firstname").val(),
               lastname :  $("#lastname").val(),
               email :  $("#email").val(),
               password :  $("#password").val(),
               public :  $("#public").val(),
               location :  "",
               bio: "",
               avatar: ""
            }
            $.ajax({
                  type : "POST",
                  data : JSON.stringify(formData),
                  contentType : "application/json",
                  url : "/users/",
                  success : function(customer) {
                      //forward page with id to fill in optional information
                      console.log("id : "+customer._id);
                    window.location.assign("/info/?id="+customer._id);
                    
                  },
                  error : function(error) {
                      console.log(error);
                      if(error.status==410){
                         $(".err-msg").html("Email already in use.");
                        $(".err-msg").show(); 
                      }
                  }
               });
    	

            
         }
      //call ajax here
     form.classList.add('was-validated');
    }, false);
});
}, false);
})();
 
</script>
</html>