<!DOCTYPE html>
<html lang="en">

<head>

        <% include partials/head %>
        <link rel="stylesheet" href="/assets/css/slider-style.css">
</head>

<body>
  <div id="wrapper">
    
    <!-- start header -->
    <header class="home-header">
      <div class="container ">
        
        <div class="row">
          <% include partials/logo %>
          <div class="span8">
            <div class="navbar navbar-static-top">
                    <div class="navigation">
                            <nav>
                                <!-- <a href="#" class="scrollup">-->
                              <ul class="nav topnav">
                                <li class="dropdown">
                                  <a href="/register" class="signup-2 nav-sign-up" id="signup-link" data-toggle="modal"><i class="icon-user"></i>Sign Up</i></a>
                                  
                                </li>
                               
                                <li class="dropdown">
                                  <a href="/login" class="signin-2 nav-sign-up" id="signin-link" data-toggle="modal">Sign in</a></a>
                                
                                </li>
                                
                                
                              </ul>
                            </nav>
                      </div>
              
                  </div>
                 </div>
            </div>
        </div>
    </header>
    <!-- end header -->
    <section id="featured">
      <!-- start slider -->
      <!-- Slider -->
      <div id="nivo-slider">
        <div class="nivo-slider">
          <!-- Slide #1 image -->
          <img src="/assets/img/slides/nivo/bg-3.jpg" alt="GratitudeToday.io Mental Strength" class="img-header" title="#caption-1" />
          <!-- Slide #2 image -->
          <img src="/assets/img/slides/nivo/bg-2.jpg" alt="GratitudeToday.io Sleep Better" class="img-header" title="#caption-2" />
          <!-- Slide #3 image -->
          <img src="/assets/img/slides/nivo/bg-1.jpg" alt="GratitudeToday.io Physically stronger" class="img-header" title="#caption-3" />
        </div>
        <div class="container">
          <div class="row">
            <div class="span12">
              <!-- Slide #1 caption -->
              <div class="nivo-caption" id="caption-1">
                <div>
                  <h2>Gratitude improves <strong>mental health.</strong></h2>
                  <!-- <p> -->
                    <!-- For years, research has shown gratitude not only reduces stress, but it may also play a major role in overcoming trauma. <br/><br/>Higher levels of gratitude experienced lower rates of post-traumatic stress disorder and recognizes all that you have to be thankful even during the worst times. -->
                  <!-- </p> -->
                  <!-- <a id="register-btn3" class="btn btn-theme">Register</a> -->
                  <br/>
                </div>
              </div>
              <!-- Slide #2 caption -->
              <div class="nivo-caption" id="caption-2">
                <div>
                  <h2>Grateful people <strong>sleep better.</strong></h2>
                    <!-- <p>
                    "Count blessings, not sheep." Research has found that feeling grateful helps people sleep. 
                    <br/><br/>That’s likely because "you have more positive thoughts before you go to sleep," which may soothe the nervous system.<br/>
                    If you’re going to make a daily gratitude list, it is recommended to write it before bed.
                    </p> -->
                    <!-- <a id="register-btn2" class="btn btn-theme">Register</a> -->
                    <br/>
                </div>
              </div>
              <div class="nivo-caption" id="caption-3">
                <div>
                  <h2>Gratitude improves <strong>physical health.</strong></h2>
                  <!-- <p>
                    Grateful people experience fewer aches and pains and report feeling healthier than other people.
                    <br/><br/>Not surprisingly, grateful people are also more likely to take care of their health. They exercise more often and are more likely to attend regular check-ups, which is likely to contribute to further longevity.
                  </p> -->
                  <br/>
                  <!-- <a id="register-btn|" class="btn btn-theme">Register</a> -->
                </div>
              </div>
              
              <!-- Slide #3 caption -->
              
            </div>
          </div>
        </div>
      </div>
      <!-- end slider -->
    </section>
    <section class="callaction">
      <div id="carousel">
        <div class="btn-bar hidden">
          <div id="buttons"><a id="prev" href="#"><</a><a id="next" href="#">></a> </div></div>
            <% include partials/quotes %>
          </div>
        
      </section>
    <!-- <section class="callaction">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="big-cta">
              <div class="cta-text text-center">
                
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </section> -->
    <section id="content" style="display:none;">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="row">
              <div class="span3">
                
            </div>
          </div>
        </div>
        
        
        <!--Recent posts -->
      
      </section>
        <!-- End Portfolio Projects -->
        <!-- divider -->
        
        
    <section id="bottom">
      
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="aligncenter">
              <div id="twitter-wrapper">
                <div id="twitter">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
  </div>
  <a href="#" class="scrollup"><i class="icon-chevron-up icon-square icon-32 active"></i></a>
  
      <% include partials/footer %>     
      <% include partials/scripts %>
      <script src="/assets/js/sign-in.js"></script>
      <script  src="/assets/js/slider-script.js"></script>
      
<script>
      $(document).ready(function(){
        
        $( "#signup-link" ).click(function() {
          //hide reset and signup
          
          $(".alert-success").hide();
          $(".alert-danger").hide();
          
          
      });
      $( "#signin-link" ).click(function() {
          //hide reset and signup
          $(".alert-success").hide();
          $(".alert-danger").hide();
          $("#loginemail").val('');
          $("#loginpassword").val('');
      });
      $( "#reset-link" ).click(function() {
        $(".alert-success").hide();
        $(".alert-danger").hide();
      });
        
    });
   
</script>    
      
      
      <% include partials/cookie-msg %>

</body>
</html>