<!DOCTYPE html>
<html lang="en">

<head>

        <% include partials/head %>
  
</head>

<body>
  <div id="wrapper">
    
    <!-- start header -->
    <header>
      <div class="container ">
        
        <div class="row nomargin">
          <div class="span12">
            <div class="headnav">
              <ul>
                <li><a href="#mySignup" data-toggle="modal"><i class="icon-user"></i> Sign up</a></li>
                <li><a href="#mySignin" data-toggle="modal">Sign in</a></li>
              </ul>
            </div>
            
          </div>
        </div>
        <div class="row">
          <div class="span4">
            <div class="logo">
                <a href="/"><img src="/assets/img/logo-gratitudetoday.png" alt="" class="logo" /></a>
                <h1>grat·i·tude: the quality of being thankful;</h1>
            </div>
            
          </div>
          <div class="span8">
            <div class="navbar navbar-static-top">
                    <div class="navigation">
                            <nav>
                                <!-- <a href="#" class="scrollup">-->
                              <ul class="nav topnav">
                                <li class="dropdown">
                                  <a href="#">Home</i></a>
                                  
                                </li>
                               
                                <li class="dropdown">
                                  <a href="#post">Recent Posts</a>
                                
                                </li>
                                <li class="dropdown">
                                  <a href="#contact">Contact</a>
                                 
                                </li>
                                
                              </ul>
                            </nav>
                          </div>
              
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- end header -->
    <section id="featured">
      <!-- start slider -->
      <!-- Slider -->
      <div id="nivo-slider">
        <div class="nivo-slider">
          <!-- Slide #1 image -->
          <img src="/assets/img/slides/nivo/bg-1.jpg" alt="" title="#caption-1" />
          <!-- Slide #2 image -->
          <img src="/assets/img/slides/nivo/bg-2.jpg" alt="" title="#caption-2" />
          <!-- Slide #3 image -->
          <img src="/assets/img/slides/nivo/bg-3.jpg" alt="" title="#caption-3" />
        </div>
        <div class="container">
          <div class="row">
            <div class="span12">
              <!-- Slide #1 caption -->
              <div class="nivo-caption" id="caption-1">
                <div>
                  <h2>Gratitude improves <strong>physical health.</strong></h2>
                  <p>
                    Grateful people experience fewer aches and pains and report feeling healthier than other people.<br/><br/>Not surprisingly, grateful people are also more likely to take care of their health. They exercise more often and are more likely to attend regular check-ups, which is likely to contribute to further longevity.
                  </p>
                  <a id="register-btn1" class="btn btn-theme">Register</a>
                </div>
              </div>
              <!-- Slide #2 caption -->
              <div class="nivo-caption" id="caption-2">
                <div>
                  <h2>Grateful people <strong>sleep better.</strong></h2>
                  <p>
                    "Count blessings, not sheep." Research has found that feeling grateful helps people sleep better and longer. That’s likely because "you have more positive thoughts before you go to sleep," which may soothe the nervous system.<br/><br/>If you’re going to make a daily gratitude list, it is recommended to write it before bed.
                    </p>
                    <a id="register-btn2" class="btn btn-theme">Register</a>
                </div>
              </div>
              <!-- Slide #3 caption -->
              <div class="nivo-caption" id="caption-3">
                <div>
                  <h2>Gratitude increases <strong>mental strength.</strong></h2>
                  <p>
                    For years, research has shown gratitude not only reduces stress, but it may also play a major role in overcoming trauma. <br/><br/>Higher levels of gratitude experienced lower rates of post-traumatic stress disorder and recognizes all that you have to be thankful even during the worst times.
                  </p>
                  <a id="register-btn3" class="btn btn-theme">Register</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end slider -->
    </section>
    <section class="callaction">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="big-cta">
              <div class="cta-text text-center">
                <h3>More <span class="highlight"><strong>100 posts</strong></span> this year!</h3>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="content">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="row">
              <div class="span3">
                <!-- <div class="box aligncenter">
                  <div class="aligncenter icon">
                    <i class="icon-briefcase icon-circled icon-64 active"></i>
                  </div>
                  <div class="text">
                    <h6>Corporate business</h6>
                    <p>
                      Lorem ipsum dolor sit amet, has ei ipsum scaevola deseruisse am sea facilisis.
                    </p>
                    <a href="#">Learn more</a>
                  </div>
                </div>
              </div>
              <div class="span3">
                <div class="box aligncenter">
                  <div class="aligncenter icon">
                    <i class="icon-desktop icon-circled icon-64 active"></i>
                  </div>
                  <div class="text">
                    <h6>Responsive theme</h6>
                    <p>
                      Lorem ipsum dolor sit amet, has ei ipsum scaevola deseruisse am sea facilisis.
                    </p>
                    <a href="#">Learn more</a>
                  </div>
                </div>
              </div>
              <div class="span3">
                <div class="box aligncenter">
                  <div class="aligncenter icon">
                    <i class="icon-beaker icon-circled icon-64 active"></i>
                  </div>
                  <div class="text">
                    <h6>Coded carefully</h6>
                    <p>
                      Lorem ipsum dolor sit amet, has ei ipsum scaevola deseruisse am sea facilisis.
                    </p>
                    <a href="#">Learn more</a>
                  </div>
                </div>
              </div>
              <div class="span3">
                <div class="box aligncenter">
                  <div class="aligncenter icon">
                    <i class="icon-coffee icon-circled icon-64 active"></i>
                  </div>
                  <div class="text">
                    <h6>Sit and enjoy</h6>
                    <p>
                      Lorem ipsum dolor sit amet, has ei ipsum scaevola deseruisse am sea facilisis.
                    </p>
                    <a href="#">Learn more</a>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </div>
        
        
        <!-- Portfolio Projects -->
        <div id="posts">
        <div class="row">
          <div class="span12">
            <h4 class="heading">Recent <strong>posts</strong></h4>
            <div class="row">
              <section id="projects">
                <ul id="thumbs" class="portfolio">
                  <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span3 design" data-id="id-0" data-type="web">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The City" href="/assets/img/works/full/image-01-full.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
                    <!-- Thumb Image and Description -->
                    <img src="/assets/img/works/thumbs/image-01.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
                  </li>
                  <!-- End Item Project -->
                  <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span3 design" data-id="id-1" data-type="icon">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Office" href="/assets/img/works/full/image-02-full.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
                    <!-- Thumb Image and Description -->
                    <img src="/assets/img/works/thumbs/image-02.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
                  </li>
                  <!-- End Item Project -->
                  <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span3 photography" data-id="id-2" data-type="illustrator">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Mountains" href="/assets/img/works/full/image-03-full.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
                    <!-- Thumb Image and Description -->
                    <img src="/assets/img/works/thumbs/image-03.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
                  </li>
                  <!-- End Item Project -->
                  <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span3 photography" data-id="id-2" data-type="illustrator">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Mountains" href="/assets/img/works/full/image-04-full.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
                    <!-- Thumb Image and Description -->
                    <img src="/assets/img/works/thumbs/image-04.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
                  </li>
                  <!-- End Item Project -->
                  <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span3 photography" data-id="id-4" data-type="web">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Sea" href="/assets/img/works/full/image-05-full.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
                    <!-- Thumb Image and Description -->
                    <img src="/assets/img/works/thumbs/image-05.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
                  </li>
                  <!-- End Item Project -->
                  <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span3 photography" data-id="id-5" data-type="icon">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="Clouds" href="/assets/img/works/full/image-06-full.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
                    <!-- Thumb Image and Description -->
                    <img src="/assets/img/works/thumbs/image-06.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
                  </li>
                  <!-- End Item Project -->
                  <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span3 photography" data-id="id-2" data-type="illustrator">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Mountains" href="/assets/img/works/full/image-07-full.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
                    <!-- Thumb Image and Description -->
                    <img src="/assets/img/works/thumbs/image-07.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
                  </li>
                  <!-- End Item Project -->
                  <!-- Item Project and Filter Name -->
                  <li class="item-thumbs span3 design" data-id="id-0" data-type="web">
                    <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                    <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The Dark" href="/assets/img/works/full/image-08-full.jpg">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
						</a>
                    <!-- Thumb Image and Description -->
                    <img src="/assets/img/works/thumbs/image-08.jpg" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
                  </li>
                  <!-- End Item Project -->
                </ul>
              
            </div>
          </div>
        </div>
    </div>
      </section>
        <!-- End Portfolio Projects -->
        <!-- divider -->
        <div class="row">
          <div class="span12">
            <div class="solidline">
            </div>
          </div>
        </div>
        
    <section id="bottom">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="aligncenter">
              <div id="twitter-wrapper">
                <div id="twitter">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="row">
            <div class="span3">
                <div class="widget">
                    <h5 class="widgetheading">Get in touch</h5>
                    <address>
                      <strong>GratitudeToday.io</strong><br>
                       Saint John, NB, Canada<br>
                       E2L 1S4
                     </address>
                    <p>
                      <i class="icon-phone"></i> (506) 639-3357<br>
                      <i class="icon-envelope-alt"></i> info@gratitudetoday.io
                    </p>
                  </div>
                </div>  
              
              <div class="span3">
                  <div class="widget">
                      <h5 class="widgetheading">Flickr photostream</h5>
                      <div class="flickr_badge">
                        <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=8&amp;display=random&amp;size=s&amp;layout=x&amp;source=user&amp;user=34178660@N03"></script>
                      </div>
                      <div class="clear">
                      </div>
                    </div>
                  </div>
            </div>
          <div class="span3">
            <!-- <div class="widget">
              <h5 class="widgetheading">Browse pages</h5>
              <ul class="link-list">
                <li><a href="#">About our company</a></li>
                <li><a href="#">Our services</a></li>
                <li><a href="#">Meet our team</a></li>
                <li><a href="#">Explore our portfolio</a></li>
                <li><a href="#">Get in touch with us</a></li>
              </ul>
            </div> -->
          </div>
          <div class="span3">
            <!-- <div class="widget">
              <h5 class="widgetheading">Important stuff</h5>
              <ul class="link-list">
                <li><a href="#">Press release</a></li>
                <li><a href="#">Terms and conditions</a></li>
                <li><a href="#">Privacy policy</a></li>
                <li><a href="#">Career center</a></li>
                <li><a href="#">Flattern forum</a></li>
              </ul>
            </div> -->
          </div>
         
      </div>
      <div id="sub-footer">
        <div class="container">
          <div class="row">
            <div class="span6">
              <div class="copyright">
                <p>
                  <span>&copy; GratitudeToday.io - All right reserved.</span>
                </p>
                <div class="credits">
                 
                </div>
              </div>
            </div>
            <div class="span6">
              <ul class="social-network">
                <!-- <li><a href="#" data-placement="bottom" title="Facebook"><i class="icon-facebook icon-square"></i></a></li> -->
                <li><a href="#" data-placement="bottom" title="Twitter"><i class="icon-twitter icon-square"></i></a></li>
                <li><a href="#" data-placement="bottom" title="Linkedin"><i class="icon-linkedin icon-square"></i></a></li>
                <li><a href="#" data-placement="bottom" title="Pinterest"><i class="icon-pinterest icon-square"></i></a></li>
                <li><a href="#" data-placement="bottom" title="Google plus"><i class="icon-google-plus icon-square"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <a href="#" class="scrollup"><i class="icon-chevron-up icon-square icon-32 active"></i></a>
  
<!-- Signup Modal -->
<div id="mySignup" class="modal styled hide fade" tabindex="-1" role="dialog" aria-labelledby="mySignupModalLabel" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 id="mySignupModalLabel">Create an <strong>account</strong></h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">
              <div class="control-group">
                  <label class="control-label" for="inputFirst">First Name</label>
                  <div class="controls">
                    <input type="text" id="firstname">
                    <div class="invalid-feedback" id="checkbox-validate" required>
                      You must enter first name.
                  </div>
                  </div>
                  
              </div>
              <div class="control-group">
                  <label class="control-label" for="inputLast">Last Name</label>
                  <div class="controls">
                    <input type="text" id="lastname">
                  </div>
                  <div class="invalid-feedback" id="checkbox-validate" required>
                      You must enter last name.
                  </div>
              </div>
            <div class="control-group">
              <label class="control-label" for="inputEmail">Email</label>
              <div class="invalid-feedback" id="checkbox-validate" required>
                  You must enter a valid email.
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="inputSignupPassword">Password</label>
              <div class="controls">
                <input type="password" id="password" placeholder="Password">
              </div>
              <div class="invalid-feedback" id="checkbox-validate" required>
                  You must enter a valid password.
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="inputSignupPassword2">Confirm Password</label>
              <div class="controls">
                <input type="password" id="confirmpassword" placeholder="Password">
              </div>
              <div class="invalid-feedback" id="checkbox-validate" required>
                  Both passwords must be equal.
              </div>
            </div>
            <div class="control-group text-center">
                <input type="checkbox" id="invalidCheck">Agree to terms and conditions
                <div class="invalid-feedback" id="checkbox-validate" required>
                        You must agree before submitting
                </div>
            </div>
            <div class="control-group">
              <div class="controls">
                <button type="submit" class="btn">Sign up</button>
              </div>
              <p class="aligncenter margintop20">
                Already have an account? <a href="#mySignin" data-dismiss="modal" aria-hidden="true" id="signin-open" data-toggle="modal">Sign in</a>
              </p>
            </div>
          </form>
        </div>
      </div>
      <!-- end signup modal -->
      <!-- Sign in Modal -->
      <div id="mySignin" class="modal styled hide fade" tabindex="-1" role="dialog" aria-labelledby="mySigninModalLabel" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 id="mySigninModalLabel">Login to your <strong>account</strong></h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">
            <div class="control-group">
              <label class="control-label" for="inputText">Username</label>
              <div class="controls">
                <input type="text" id="inputText" placeholder="Username">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label" for="inputSigninPassword">Password</label>
              <div class="controls">
                <input type="password" id="inputSigninPassword" placeholder="Password">
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                <button type="submit" class="btn">Sign in</button>
              </div>
              <p class="aligncenter margintop20">
                  Don't already have an account? <a href="#mySignup" data-dismiss="modal" aria-hidden="true" id="signup-open" data-toggle="modal">Sign up</a>
                </p>
              <p class="aligncenter margintop20">
                Forgot password? <a href="#myReset" data-dismiss="modal" aria-hidden="true" data-toggle="modal">Reset</a>
              </p>
            </div>
          </form>
        </div>
      </div>
      <!-- end signin modal -->
      <!-- Reset Modal -->
      <div id="myReset" class="modal styled hide fade" tabindex="-1" role="dialog" aria-labelledby="myResetModalLabel" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 id="myResetModalLabel">Reset your <strong>password</strong></h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal">
            <div class="control-group">
              <label class="control-label" for="inputResetEmail">Email</label>
              <div class="controls">
                <input type="text" id="inputResetEmail" placeholder="Email">
              </div>
            </div>
            <div class="control-group">
              <div class="controls">
                <button type="submit" class="btn">Reset password</button>
              </div>
              <p class="aligncenter margintop20">
                We will send instructions on how to reset your password to your inbox
              </p>
            </div>
          </form>
        </div>
      </div>
      <!-- end reset modal -->
      <% include partials/scripts %>
  
      <script type="text/javascript">
        $(document).ready(function(){
            $('#signin-open').click();
            
            $("#register-btn1").click(function() {
               $("#signup-open").click();
            });
            $("#register-btn2").click(function() {
                alert("button 2");
               $("#signup-open").click();
            });
            $("#register-btn3").click(function() {
               $("#signup-open").click();
            });
        });
        
           
    </script>
</body>
</html>
