<!DOCTYPE html>
<html lang="en">
	<head>
    <% include partials/head %>
	</head>
	<body data-spy="scroll" data-target="#pb-navbar" data-offset="200">

    <% include partials/nav %>
    <!-- END nav -->




    <section class="pb_cover_v3 text-left"  id="section-home">
      <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="row align-items-center justify-content-center"></div>
            <div class="col-md-6">
                <div class="wrapper"  id="slide">
                  <h2 class="heading mb-3 quote-title main-title" style="font-size: 2em; font-weight:900 !important;" >grat·i·tude: the quality of being thankful;</h2>
                    <div class="sub-heading">
                        <p class="mb-4"><i class="fas fa-smile"></i>&nbsp;Gratitude makes us happier.</p>
                        <p class="mb-4"><i class="fas fa-heart"></i>&nbsp;Gratitude makes us healthier.</p>
                        <p class="mb-4"><i class="fas fa-user-friends"></i>&nbsp;Join the Gratitude Evolution.</p>
                        
                      </div>
                  </div>
           
            
        
          </div>
          <div class="col-md-1">
          </div>
          <div class="col-md-5 relative align-self-center" >
              
                 <div class="alert alert-danger text-center err-container">
                    <span class="err-msg"></span>
                </div>
                <form class="needs-validation bg-white rounded pb_form_v1" id="createUserForm" novalidate>
                <form action="#" >
                  <h2 class="mb-4 mt-0 text-center form-header">Sign Up for Free</h2>
                  <div class="form-group">
                    <input type="text" class="form-control pb_height-50 reverse" id="firstname" placeholder="First Name..." required>
                    <div class="invalid-feedback">
                      Please enter your firstname.
                  </div>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control pb_height-50 reverse" id="lastname" placeholder="Last Name..."  required>
                    <div class="invalid-feedback">
                      Please enter your lastname.
                  </div>
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control pb_height-50 reverse" id="email" placeholder="Email Address..." required>
                    <div class="invalid-feedback">
                      Please enter a valid email.
                  </div>
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control pb_height-50 reverse" id="password" placeholder="Password...">
                    <div class="invalid-feedback lengthcheck">
                      Passwords must be at least 6 characters
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control pb_height-50 reverse" id="confirmpassword" placeholder="Confirm Password...">
                    <div class="invalid-feedback password-confirm">
                      Confirm Password
                    </div>
                    <div class="invalid-feedback passwords-not-equal">
                          Passwords must be same
                    </div>
                  </div>
                  <div class="form-group">
                      <div class="form-check text-left">
                        <input class="form-check-input"  type="checkbox" value="" checked id="public-checkbox">
                        <label class="form-check-label" for="checkbox-public">
                        <span style="padding-left:20px;">Share posts with public</span>&nbsp;<i class="optional">(Optional)</i>
                        </label>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="form-check text-left">
                          <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                          <label class="form-check-label" for="invalidCheck">
                          <span style="padding-left:20px;">Agree to terms and conditions</span>
                          </label>
                          <div class="invalid-feedback" id="checkbox-validate" required>
                              You must agree before submitting
                              </div>
                      </div>
                  </div>
            
                  <div class="form-group">
                    <input type="submit" class="btn btn-success" value="Register"> Already a member? <a href="/login/">Click here to login</a></p>
                   

                
                  </div>
                </form>

        </div>
      </div>
      
    </section>
    
    <!-- END section -->
      
    <% include partials/scripts %>

    
    <style>
        .wrapper {
   position: relative;
   /* overflow: hidden; */
   width: 100px;
   height: 100px; 
   margin-top:-250px;
   padding-top: 50px;
    /* border: 1px solid black;  */
}

#slide {
   position: absolute;
   left: -800px;
   width: 100%;
   height: 100px;
   
   -webkit-animation: slide 0.5s forwards;
   -webkit-animation-delay: 2s;
   animation: slide 0.5s forwards;
   animation-delay: 2s;
}

@-webkit-keyframes slide {
   100% { left: 0; }
}

@keyframes slide {
   100% { left: 0; }
}
   </style> 
<script type="text/javascript">
  $( document ).ready(function() {
      $(".err-msg").hide();
      $(".err-container").hide();
      $(".lengthcheck").hide();
      $(".passwords-not-equal").hide();
      $(".lengthcheck").hide();
    
      
          
  });
  
   $('input[name="public-checkbox"]').click(function(){
            if($(this).is(":checked")){
                alert("Checkbox is checked.");
            }
            else if($(this).is(":not(:checked)")){
                alert("Checkbox is unchecked.");
            }
    });

  $("#createUserForm").submit(function(event) {
     // Prevent the form from submitting via the browser.
     event.preventDefault();
  });
   
  (function() {
      'use strict';
      window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');
          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
             //confirm  password are equal
             if($('#password').val().length<6){
              $(".valid-password").hide();
              $(".lengthcheck").show();
              
  
             }else{
              $(".valid-password").hide();
              $(".lengthcheck").hide();
  
             }
             
              if($("#password").val()!= $("#confirmpassword").val()){
                
                $(".password-confirm").hide();
                 $(".passwords-not-equal").show();
             }
             
             var checkValue = $('#check_id').is(":checked");
            
            // Get the checkbox
            if($("#invalidCheck").prop("checked") == false){
                 $("#checkbox-validate").show();
              }
             else{
                 $("#checkbox-validate").hide();
              }
              
              
           }else{
               event.preventDefault();
               //console.log("public:"+$("#public").val())
              // PREPARE FORM DATA
              var formData = {
                 firstname : $("#firstname").val(),
                 lastname :  $("#lastname").val(),
                 email :  $("#email").val(),
                 password :  $("#password").val(),
                 public :  checkValue,
                 location :  "",
                 bio: "",
                 avatar: ""
              }
              var publicYN=$('#public-checkbox').is(':checked');
              
              $.ajax({
                    type : "POST",
                    data : JSON.stringify(formData),
                    contentType : "application/json",
                    url : "/users/",
                    success : function(customer) {
                        window.location.assign("/info/?id="+customer._id);
                    },
                    error : function(error) {
                       
                        if(error.status==410){
                            $(".err-container").show();
                            $(".err-msg").html("Email already in use. Try again");
                           $(".err-msg").show();
                          
                        }
                        else{
                            $(".err-container").show();
                           $(".err-msg").html("Error registering. Please try again later.");
                           $(".err-msg").show();
                           
                        }
                    }
                 });
        
  
              
           }
        
       form.classList.add('was-validated');
      }, false);
  });
  }, false);
  })();
  
  </script>
  



</body>
</html>