<!DOCTYPE html>
<html lang="en">
	<head>
    <% include partials/head %>
	</head>
	<body data-spy="scroll" data-target="#pb-navbar" data-offset="200">

    <nav class="navbar navbar-expand-lg navbar-dark pb_navbar pb_scrolled-light" id="pb-navbar">
      <div class="container">
        <a class="navbar-brand" href="/">GratitudeToday.io</a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#probootstrap-navbar" aria-controls="probootstrap-navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span><i class="ion-navicon"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="probootstrap-navbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="#section-home">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#recent-posts">Recent Posts</a></li>
            <!-- <li class="nav-item"><a class="nav-link" href="#section-reviews">Reviews</a></li>
            <li class="nav-item"><a class="nav-link" href="#section-pricing">Pricing</a></li>
            <li class="nav-item"><a class="nav-link" href="#section-faq">FAQ</a></li>
            <li class="nav-item cta-btn ml-xl-2 ml-lg-2 ml-md-0 ml-sm-0 ml-0"><a class="nav-link" href="https://uicookies.com/" target="_blank"><span class="pb_rounded-4 px-4">Get Started</span></a></li> -->
          </ul>
        </div>
      </div>
    </nav>
    <!-- END nav -->




    <section class="pb_cover_v3 overflow-hidden text-left"  id="section-home">
      <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="row align-items-center justify-content-center"></div>
            
          <div class="col-md-12 relative align-self-center" style="padding-top:100px !important;">
              
                <div class="err-msg"></div>
                <form class="needs-validation" id="createUserForm" novalidate>
                     <div class="form-group shadow-textarea">
                           <label for="bio">Let us know a little about you</label>
                           <textarea class="form-control z-depth-1" id="bio" rows="5"></textarea>
                           </div>
                           
                  <div class="form-group">
                    <input type="text" class="form-control pb_height-50 reverse" id="firstname" placeholder="First Name..." required>
                    <div class="invalid-feedback">
                      Please enter your firstname.
                  </div>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control pb_height-50 reverse" id="lastname" placeholder="Last Name..."  required>
                    <div class="invalid-feedback">
                      Please enter your lastname.
                  </div>
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control pb_height-50 reverse" id="email" placeholder="Email Address..."required>
                    <div class="invalid-feedback">
                      Please enter a valid email.
                  </div>
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control pb_height-50 reverse" id="password" placeholder="Password...">
                    <div class="invalid-feedback lengthcheck">
                      Passwords must be at least 6 characters
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control pb_height-50 reverse" id="confirmpassword" placeholder="Confirm Password...">
                    <div class="invalid-feedback password-confirm">
                      Confirm Password
                    </div>
                    <div class="invalid-feedback passwords-not-equal">
                          Passwords must be same
                    </div>
                  </div>
                  <div class="form-group">
                      <div class="form-check text-left">
                        <input class="form-check-input"  type="checkbox" checked id="public-checkbox">
                        <label class="form-check-label" for="public-checkbox">
                        <span style="padding-left:20px;">Share posts with public</span>&nbsp;<i class="optional">(Optional)</i>
                        </label>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="form-check text-left">
                          <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                          <label class="form-check-label" for="invalidCheck">
                          <span style="padding-left:20px;">Agree to terms and conditions</span>
                          </label>
                          <div class="invalid-feedback" id="checkbox-validate" required>
                              You must agree before submitting
                              </div>
                      </div>
                  </div>
            
                  <div class="form-group">
                    <input type="submit" class="btn btn-primary btn-lg btn-block pb_btn-pill  btn-shadow-red" value="Register">
                    <p class="text-center" style="padding-top:15px;">Already a member? <a href="/login/">Click here to login</a></p>
                  </div>
                </form>

        </div>
      </div>
    </section>
    <!-- END section -->
    
    
    <% include partials/footer %>
    <% include partials/scripts %>

    <script type="text/javascript"> 
    
    $(document).ready(function() {
      
      var _id=($.urlParam('id'));
      var passId;
  
    console.log("id: "+_id);
    //call get user
    $.ajax({
        url: '/users/'+_id,
        type: "GET",
        dataType: "json",
        data: {id: _id},
          success: function(data, textStatus, jqXHR) {
                 //set first name, lastname, email, avatar 
                  $("#name").html(data.firstname+" "+data.lastname);
                  passId=data._id;
                 
          },
          error: function(jqXHR, textStatus, errorThrown) {
                  console.log('Error occurred on info.ejs');
                  
          }
      }); 
      $("#btn_skip").click(function() {
          event.preventDefault();
          console.log("pass:"+passId);
          
          window.location.assign("/profile/?id="+passId);
          
      });
      $("#btn_save").click(function() {
          console.log("save info")
          var _id=($.urlParam('id'));
        console.log("param value: "+_id);
          event.preventDefault();
           
          // PREPARE FORM DATA
          console.log("start ajax...");
           $.ajax({
              url: '/info/',
              type: "PUT",
              dataType: "json",
              data: {
                  _id:_id,
                  bio: $("#bio").val(),
                  location: $("#location").val()
              },
             
              success: function(data, textStatus, jqXHR) {
                  console.log("id : "+data._id);
                  window.location.assign("/profile/?id="+data._id);
              },
              error : function(error) {
                  console.log(error);
                  if(error.status==500){
                      $(".err-msg").html("Error logging again, please try again.");
                      $(".err-msg").show(); 
                  }
              }
          });

          
             
     

          
       });
      
});  

  </script>
    
	</body>
</html>

