<!DOCTYPE html>
<html>
   <head>
        <% include partials/head %>
    </head>
   <body>
      <section class="pb_cover_v3 cover-bg-opacity text-left pb_gradient_v1">
         <div class="container">
            <div class="row align-items-center justify-content-center">
              
               
               <div class="col-md-6 relative align-self-center join-today-index">
                   
                  <div class="panel panel-default">
                     <div class="panel-heading">
                        <h3 class="text-center">Welcome <span id="name"></span>.</h3>
                        <h2 class="panel-title text-center">Tell us more about yourself? Don't worry, you can do this later!</h2>
                     </div>
                     <div class="panel-body">
                        <form class="needs-validation" novalidate>
                           
                              
                              
                           <div class="form-row">
                              <div class="col-md-12 mb-3">
                                
                                 <div class="input-group">
                                    <div class="input-group-prepend">
                                    </div>
                                    <div class="form-group shadow-textarea">
                                    <label for="exampleFormControlTextarea6"></label>
                                    <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="5" placeholder="Let us know a little about you..."></textarea>
                                    </div>
                                    
                                 </div>
                              </div>
                           </div>
                           <div class="form-row">
                              <div class="col-md-12 mb-3">
                                 
                                 <div class="input-group">
                                    <input type="text" class="form-control" id="address" placeholder="Address...">
                                    
                                 </div>
                              </div>
                           </div>
                           <div class="form-row">
                              <div class="col-md-12 mb-3">
                                 
                               
                                <img src="/images/coverphotos/profile.jpg" class="rounded-circle z-depth-1-half avatar-pic" alt="example placeholder avatar">
                                
                               </div>     
                                <div class="btn btn-mdb-color btn-rounded float-left">
                                
                                <input type="file">
                            </div>
                            <p></p>
                           </div>
                           <div class="col-md-12 mb-3">
                               <div class="col-md-6"><button class="btn btn-primary btn-lg btn-block pb_btn-pill  btn-shadow-blue text-center" id="btn_skip">Skip</button></div>
                               <div class="col-md-6"><button class="btn btn-primary btn-lg btn-block pb_btn-pill  btn-shadow-blue text-center" id="btn_save" type="submit">Save</button></div>
                            
                           
                            </div>
                        </div>
                     </div>
                 </div>
                  </form>
                  
                  
               </div>
            </div>
         </div>
         </div>
      </section>
      <% include partials/footer %>
       <% include partials/scripts %>
      
    </body>
    <script>

    $(document).ready(function() {
    var _id=($.urlParam('id'));
     var passId;
      console.log(_id);
      //call get user
      $.ajax({
          url: '/users/'+_id,
          type: "GET",
          dataType: "json",
          data: {id: _id},
            success: function(data, textStatus, jqXHR) {
                   //set first name, lastname, email, avatar 
                    $("#name").html(data.firstname+" "+data.lastname);
                    passId=data._id;
                   
            },
            error: function(jqXHR, textStatus, errorThrown) {
                    console.log('Error occurred on info.ejs');
                    
            }
        }); 
        $("#btn_skip").click(function() {
            event.preventDefault();
            
            console.log('idpass'+passId);
            window.location.assign("/profile/?id="+passId);
            
        });
        // $("#btn_save").submit(function(event) {
        //     event.preventDefault();
        //     //http://localhost:3000/profile/?id=5d2cc90ed933a51f5c8200e1
        //     window.location.assign("/profile/?id="+_id);

        // });
        
    });
</script>
</html>
