<!DOCTYPE html>
<html>
   <head>
        <% include partials/head %>
    </head>
   <body>
      <section class="pb_cover_v3 cover-bg-opacity text-left pb_gradient_v1">
         <div class="container">
            <div class="row align-items-center justify-content-center">
              
               
               <div class="col-md-6 relative align-self-center join-today-index">
                   <div class="col-md-12 mb-3 md-form text-center" style="padding-top:20px">Optional, can be updated later</div>
                  <div class="panel panel-default">
                     <div class="panel-heading">
                        <h3 class="panel-title text-center">More about you.</h3>
                     </div>
                     <div class="panel-body">
                        <form class="needs-validation" novalidate>
                           
                              
                              
                           <div class="form-row">
                              <div class="col-md-12 mb-3">
                                
                                 <div class="input-group">
                                    <div class="input-group-prepend">
                                    </div>
                                    <div class="form-group shadow-textarea">
                                    <label for="exampleFormControlTextarea6"></label>
                                    <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="5" placeholder="Let us know a little about you..."></textarea>
                                    </div>
                                    
                                 </div>
                              </div>
                           </div>
                           <div class="form-row">
                              <div class="col-md-12 mb-3">
                                 
                                 <div class="input-group">
                                    <input type="text" class="form-control" id="address" placeholder="Address...">
                                    
                                 </div>
                              </div>
                           </div>
                           <div class="form-row">
                              <div class="col-md-12 mb-3">
                                 
                               
                                <img src="/images/coverphotos/profile.jpg" class="rounded-circle z-depth-1-half avatar-pic" alt="example placeholder avatar">
                                
                               </div>     
                                <div class="btn btn-mdb-color btn-rounded float-left">
                                
                                <input type="file">
                            </div>
                           </div>
                           <button class="col-md-12 btn btn-primary btn-lg btn-block pb_btn-pill  btn-shadow-blue text-center" id="btn_skip">-Skip</button><br/>
                           <button class="col-md-12 btn btn-primary btn-lg btn-block pb_btn-pill  btn-shadow-blue text-center" type="submit">Save</button><br/>
                            
                           
                     
                     
                     </div>
                     </div>
                 </div>
                  </form>
                  
                  
               </div>
            </div>
         </div>
         </div>
      </section>
      <% include partials/footer %>
       <% include partials/scripts %>
      
    </body>
    <script>

    $(document).ready(function() {
     /**
       * JavaScript Get URL Parameter
       * 
       * @param String prop The specific URL parameter you want to retreive the value for
       * @return String|Object If prop is provided a string value is returned, otherwise an object of all properties is returned
       */
      
      function getUrlParams(id) {
         var params = {};
         var search = decodeURIComponent( window.location.href.slice( window.location.href.indexOf( '?' ) + 1 ) );
         var definitions = search.split( '&' );

         definitions.forEach( function( val, key ) {
            var parts = val.split( '=', 2 );
            params[ parts[ 0 ] ] = parts[ 1 ];
         } );

         return ( prop && prop in params ) ? params[ prop ] : params;
      }
      // $.ajax({
      //     url: '/users/',
      //     type: "GET",
      //     dataType: "json",
      //     data: {_id: req.params.id},
      //       success: function(data, textStatus, jqXHR) {
      //              //set first name, lastname, email, avatar 
      //              alert("success");
      //              var fName=data.firstname;
      //              alert(fName);
      //              var LName=data.lastname;
      //              alert(LName);
      //              $("#name").html(fName);
                   
                   
      //       },
                
      //       error: function(jqXHR, textStatus, errorThrown) {
      //               alert('An error occurred!');
      //               alert('jqXHR:');
      //               alert(jqXHR);
      //               alert('textStatus:');
      //               alert(textStatus);
      //               alert('errorThrown:');
      //               alert(errorThrown);
      //       }
      //   });
        
      // $.ajax({
      //     url: '/users/5d375a6900d0401c2013d6f6',
      //     type: "GET",
      //     dataType: "json",
      //     data: {},
      //       success: function(data, textStatus, jqXHR) {
      //          //console.log("id: "+req.params.id);
      //              //set first name, lastname, email, avatar 
      //             //  alert("success");
      //             //  var fName=data.firstname;
      //             //  alert(fName);
      //             //  var LName=data.lastname;
      //             //  alert(LName);
      //             //  $("#name").html(fName);
                   
                   
      //       },
                
      //       error: function(jqXHR, textStatus, errorThrown) {
      //               alert('An error occurred!');
      //               alert('jqXHR:');
      //               alert(jqXHR);
      //               alert('textStatus:');
      //               alert(textStatus);
      //               alert('errorThrown:');
      //               alert(errorThrown);
      //       }
      //   });
        
    });
</script>
</html>
