<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head %>
</head>

<body>
  <div id="wrapper">
    
    <!-- end header -->
    <section id="inner-headline">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="inner-heading">
                
              <h3>Welcome <strong><span id="name"></span>.</strong></h3>
            </div>
          </div>
          
      </div>
    </section>
    <section id="content">
      <div class="container">
        <div class="row">
          <div class="span6">
            <h4>Complete your profile.</h4>

            <form class="form-horizontal" id="createUserForm" >
                  <div class="control-group">
                    
                      <div class="controls">
                          <strong>Tell us a little more about you</strong><textarea rows="3" type="text" id="bio"></textarea>
                      </div>
                    </div>
                  
                  <div class="controls">
                      
                      <strong></stron>Address</strong><input type="text" class="form-control" id="location" >
                    
                  </div>
                
                
                  
                <div class="control-group">
                  <div class="controls text-center">
                      <br/><input type="button" class="btn btn-default" id="btn_skip" value="Skip">
                      <input type="submit" class="btn btn-success" id ="updateUserInfo" value="Update">
                    <p>
                        Don't worry, you can do this later.
                    </p>
                  </div>
                </form>
            
          </div></div>
          <div class="span6"><div class="flexslider">
              <ul class="slides">
                <li>
                  <img src="/assets/img/works/full/image-01-full.jpg" alt="" />
                </li>
                <li>
                  <img src="/assets/img/works/full/image-02-full.jpg" alt="" />
                </li>
                <li>
                  <img src="/assets/img/works/full/image-03-full.jpg" alt="" />
                </li>
              </ul>
            </div>
            </div>
         
        </div>
        <!-- divider -->
        <div class="row">
          <div class="span12">
            <div class="solidline">
            </div>
          </div>
        </div>
       
    </section>
    <% include partials/footer %>
  

  </div>
  <a href="#" class="scrollup"><i class="icon-chevron-up icon-square icon-32 active"></i></a>
  <% include partials/scripts %>

  <script>
  $(document).ready(function() {
        getUserInfo('info');
  });
  </script>
</body>

</html>
