<!DOCTYPE html>
<html lang="en">
	<head>
    <% include partials/head %>
	</head>
	<body data-spy="scroll" data-target="#pb-navbar" data-offset="200">

    <nav class="navbar navbar-expand-lg navbar-dark pb_navbar pb_scrolled-light" id="pb-navbar">
      <div class="container">
        <a class="navbar-brand" href="/">GratitudeToday.io</a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#probootstrap-navbar" aria-controls="probootstrap-navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span><i class="ion-navicon"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="probootstrap-navbar">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="#section-home">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#recent-posts">Recent Posts</a></li>
            
          </ul>
        </div>
      </div>
    </nav>
    <!-- END nav -->




    <section class="pb_cover_v3 overflow-hidden text-left"  id="section-home">
      <div class="container">
        
          
          <div class="col-md-12 relative align-self-center" style="padding-top:100px !important;">
              
                <div class="err-msg"></div>
                <form class="needs-validation" novalidate>
                           
                              
                              
                     <div class="form-row">
                        <div class="col-md-12 mb-3">
                           <label for="email">Email</label>
                           <div class="input-group">
                              <div class="input-group-prepend">
                              </div>
                              <input type="email" class="form-control" id="email" required>
                              <div class="invalid-feedback">
                                 Please enter a valid email.
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="form-row">
                        <div class="col-md-12 mb-3">
                           <label for="email">Password</label>
                           <div class="input-group">
                              <input type="password" class="form-control" id="password"  required>
                              <div class="invalid-feedback">
                                 Please enter a valid password.
                              </div>
                           </div>
                        </div>
                     </div>
                     <button class="btn btn-primary btn-lg btn-block pb_btn-pill  btn-shadow-blue text-center sub-button" type="submit">Login</button>
                      
                      <div class="col-md-12 mb-3 md-form" style="padding-top:20px">Not a member? <a style="color:green !important;" href="/">Register here.</a>
                       </div>
               </div>
               
               
               </div>
               </div>
           </div>
            </form>
        </div>
      </div>
    </section>
    <!-- END section -->
      
    <% include partials/footer %>

    <% include partials/scripts %>
    
    <script type="text/javascript">
      
      $( document ).ready(function() {
         // Handler for .ready() called. 
         $(".err-msg").hide();
         
      });
         (function() {
             'use strict';
             window.addEventListener('load', function() {
                 // Fetch all the forms we want to apply custom Bootstrap validation styles to
                 var forms = document.getElementsByClassName('needs-validation');
                 // Loop over them and prevent submission
                 var validation = Array.prototype.filter.call(forms, function(form) {
                 form.addEventListener('submit', function(event) {
                 if (form.checkValidity() === false) {
                    event.preventDefault();
                     
                 }
                 else{
                     event.preventDefault();
                     var email = $("#email").val();
                     console.log(email);
                     var password = $("#password").val();
                     
                    if( email != "" && password != "" ){
                        $.ajax({
                              url: '/users/login',
                              type: "POST",
                              dataType: "json",
                              data: {
                              email: email,
                              password: password
                              },


                               /**
                               * A function to be called if the request succeeds.
                               */
                               success: function(data, textStatus, jqXHR) {
                                console.log("id : "+data._id);
                                 window.location.assign("/profile/?id="+data._id);
                                 
                               
                                 
                               },
                              /**
                               * A function to be called if the request fails. 
                               */
                              error : function(error) {
                                console.log(error);
                                if(error.status==500){
                                    $(".err-msg").html("Error logging again, please try again.");
                                    $(".err-msg").show(); 
                                }
                            }

                             
                        });
                     }
               }
                 
              form.classList.add('was-validated');
             }, false);
         });
         }, false);
         })();
        
         

  </script>
    
	</body>
</html>