<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head %>
</head>

<body>
  <div id="wrapper">
    
    <!-- end header -->
    <section id="inner-headline">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="inner-heading">
                <% include partials/logo %>
              &nbsp;
            </div>
          </div>
          
      </div>
    </section>
    <section id="content">
      <div class="container">
        <div class="row">
            <div class="span3"></div>
            <div class="span6">
            <h4><strong>Login</strong></h4>
            <div class="alert alert-danger text-center alert-signin" role="alert">Error logging in. Confirm you email and password are correct and your account is activated.</div>
            <form class="form-horizontal" id="loginUserForm" >
              <div class="control-group" id="login-form">
                <label class="control-label" for="inputText">Email Address </label>
                <div class="controls">
                  <input type="email"  id = "login-email" required>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="inputSigninPassword">Password</label>
                <div class="controls">
                  <input type="password" id="login-password"" minlength="6" required>
                </div>
              </div>
              <div class="control-group">
                <div class="controls text-center">
                    <button type="submit" class="btn btn-green">Sign in</button>
                  
                </div>
                <p class="aligncenter margintop20">
                    Don't have an account? <a href="#mySignup" data-dismiss="modal" aria-hidden="true" id="signup-open" data-toggle="modal">Sign up</a>
                  </p>
                <p class="aligncenter margintop20">
                  Forgot password? <a href="#myReset" data-dismiss="modal" aria-hidden="true" id="reset-open" data-toggle="modal">Reset</a>
                </p>
              </div>
            </form>
            <!-- <form class="form-horizontal" id="loginUserForm" >
                
                    <div class="controls">
                      
                      <strong>Email</strong><br/><input type="email" class="form-control custom-input-width" id="login-email" value="adrian@adriannadeau.com" required>
                    
                  </div>
                  <div class="controls">
                      
                      <strong>Password</strong><br/><input type="password" class="form-control custom-input-width" minlength="6" id="login-password" value="Asialouie!123" required>
                    
                  </div>
                   
                    <div class="control-group">
                  <div class="controls text-center">
                      <br/>
                      <input type="submit" class="btn btn-green" id="button-signup" value="Sign in">
                      
                      <br/><p class="aligncenter"><br/>
                  Don't have an account? <a href="/register" >Sign up</a>
                  <br/>Forgot password? <a href="/sendRestForm">Reset</a>
                </p>
             
               
                </div>
          </form> -->
            <div class="span3"></div>
          </div>
        </div>
    </section>      
    <% include partials/footer %>
  

  </div>
  <a href="#" class="scrollup"><i class="icon-chevron-up icon-square icon-32 active"></i></a>
  <% include partials/scripts %>
  <script src="/assets/js/sign-in.js"></script>

   
</body>
<% include partials/cookie-msg %>

</html>
