<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
</head>

<body>
  <!-- <div id="wrapper" class="boxed"> -->
    
    <!-- start header -->
    <header>
        <section id="inner-headline">
            <div class="container">
              <div class="row">
                <div class="span4">
                  <div class="inner-heading">
                     
                  </div>
                </div>
                <div class="span8">
                 
              </div>
            </div>
          </section>
      <div class="container ">
        
        <div class="row nomargin">
          <div class="span4">
            <div class="headnav">
             <ul>
               
              </ul>
            </div>
            
          </div>
        </div>
        
        <div class="row">
            <% include partials/logo %>
          </div>
          <div class="span8">
            <div class="navbar navbar-static-top">
              
              </div>
              <!-- end navigation -->
            </div>
          </div>
        </div>
      </div>
    </header>
    
    <!-- end header -->
    
    <section id="content">
      <div class="container">
        <div class="row">
          <div class="span2">
            <aside class="left-sidebar">
              
              <div class="widget">
                
                <ul class="cat">
                  <li><a href="#">My Journal</a></li>
                  <li><a href="#">My Account</a></li>
                  <li></i><a href="#">Sign out</a></li>
                  
                </ul>
              </div>
              
            </aside>
          </div>
        
        <div class="span8">
            <form class="form-horizontal" id="postMsgForm" > 
                
                    <p><strong>What are you grateful for today...</strong></p><textarea rows="3" type="text" id="postMsg"></textarea>
                    <div class="control-group">
                      <div class="controls">
                          <input type="submit" class="btn btn-success" id ="updateUserInfo" value="Post">
                            
                      </div>
                    </div>
          </form>
          </div>
          <div class="span4"></div>
        
          <!-- <div class="span8">
              <form class="form-horizontal" id="postMsgForm" >
                        <div class="control-group">
                          
                            <div class="controls">
                                <strong>What are you grateful for today...</strong><textarea rows="3" type="text" id="postMsg"></textarea>
                            </div>
                        </div>
                      
                        
              </form>
                  </div>
                </div> -->

          </div>
        </div>
          <!-- <div class="span8">
            <article>
              <div class="row">
                <div class="span8">
                  <div class="post-image">
                    <div class="post-heading">
                      <h3>This is an example of standard post format</h3>
                    </div>
                    
                  </div>
                  <p>
                    Qui ut ceteros comprehensam. Cu eos sale sanctus eligendi, id ius elitr saperet, ocurreret pertinacia pri an. No mei nibh consectetuer, semper laoreet perfecto ad qui, est rebum nulla argumentum ei. Fierent adipisci iracundia est ei, usu timeam persius
                    ea. Usu ea justo malis, pri quando everti electram ei, ex homero omittam salutatus sed.
                  </p>
                  <div class="bottom-article">
                    <ul class="meta-post">
                      <li><i class="icon-calendar"></i><a href="#"> Mar 13, 2019</a></li>
                      <li><i class="icon-user"></i><a href="#"> Adrian Nadeau</a></li>
                      
                    </ul>
                   
                  </div>
                </div>
              </div>
            </article>
           
             -->
           
            <!-- <div id="pagination">
              <span class="all">Page 1 of 3</span>
              <span class="current">1</span>
              <a href="#" class="inactive">2</a>
              <a href="#" class="inactive">3</a>
            </div> -->
          
    </section>
    <% include partials/footer %>
  </div>
  <a href="#" class="scrollup"><i class="icon-chevron-up icon-square icon-32 active"></i></a>
  <!-- javascript
    ================================================== -->
    <% include partials/scripts %>
</body>

</html>
