<!DOCTYPE html>
<html lang="en">

<head>
 <% include partials/head %>
</head>

<body>
  <div id="wrapper">
    
    
    <section id="inner-headline">
      <div class="container">
        <div class="row">
          <div class="span12">
              <% include partials/logo %>
          </div>
          
        </div>
      </div>
    </section>
    <section id="content">
      <div class="container">
        <div class="row">
             <div class="span4">
            <aside class="right-sidebar">
                <div class="widget">
                <div></div>
                <h5 class="widgetheading" style="padding-top:30px;" id="name"></h5>
                <% include partials/profile-dropdown %>
                
                <span id="Avatar" style="padding-top:20px;"><img id="avatar-img" src="/assets/img/avatar.png" style="padding-bottom: 10px;"></span><br/>
                
                <span id="email"></span><br/>
                <span id="url"></span><br/>
                <span id="location"></span><br/>
                Joined: <span id="reg-date"></span>
                </div>
               
               
              <div class="widget">
                <h5 class="widgetheading">Bio</h5>
                <p id="bio">
                  
                </p>
              </div>
            </aside>
          </div>
          <div class="span8">
            <article>
              <div class="top-wrapper">
                <div class="post-heading">
                    
                    <form class="form-horizontal" id="postMsgForm" > 
                        <div class="alert alert-success text-center hidden" style="width:85%;" role="alert">This is a success alert—check it out!</div>
                        <div class="alert alert-danger text-center hidden" style="width:85%;" role="alert">Eror posting, please try again.</div>
                        <input type="hidden" id="id" value="">
                        <h4 class="post-header">What are you grateful for today...</h4><textarea rows="3" class="custom-input-width" type="text" id="postMsg" required></textarea>
                   
                        <br/><br/>
                          <input type="submit" class="btn btn-success" value="Post">
                          
                    </form>
                    <h4>Recent Posts</h4>
                </div>
               
              </div>
              <p>
                Qui ut ceteros comprehensam. Cu eos sale sanctus eligendi, id ius elitr saperet, ocurreret pertinacia pri an. No mei nibh consectetuer, semper laoreet perfecto ad qui, est rebum nulla argumentum ei. Fierent adipisci iracundia est ei, usu timeam persius
                ea. Usu ea justo malis, pri quando everti electram ei, ex homero omittam salutatus sed.
                <ul class="meta-post">
                      <li><i class="icon-calendar"></i> Mar 13, 2019</a></li>
                      <li><i class="icon-user"></i> Adrian Nadeau</a></li>
                      
                    </ul>
              </p>
            </article>
          </div>
         
        </div>
      </div>
    </section>
 <% include partials/footer %>
  </div>
  
  <% include partials/scripts %>
  <script  src="/assets/js/postFunctions.js"></script>

  <script>
  $(document).ready(function() {
        // $(".alert").hide();
        getUserInfo('profile');
  });
  
  
  
  </script>

</body>

</html>
