<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
</head>

<body>
  <!-- <div id="wrapper" class="boxed"> -->
    
    <!-- start header -->
    <header>
        <section id="inner-headline">
            <div class="container">
              <div class="row">
                
                </div>
                <div class="span12">
               </div>
            </div>
          </section>
      <div class="container ">
        
        <div class="row nomargin">
          <div class="span12">
            <div class="headnav">
            
            </div>
            
          </div>
        </div>
        
        <div class="row">
            <% include partials/logo %>
          </div>
          <div class="span8">
            <div class="navbar navbar-static-top">
              
              </div>
              <!-- end navigation -->
            </div>
          </div>
        </div>
      </div>
    </header>
    
    <!-- end header -->
    
    <section id="content">
      <div class="container">
        <div class="row">
          <div class="span3">
            <aside class="left-sidebar">
              
              <div class="widget">
                <h5><span id="name"></span></h5>
                <ul class="cat">
                  <li><a href="/journal/?id=">My Journal</a></li>
                  <li><a id="account-link" href="/account/">My Account</a></li>
                  <li></i><a href="/">Sign out</a></li>
                  
                </ul>
              </div>
              
            </aside>
          </div>
        
        <div class="span9">
            <form class="form-horizontal" id="postMsgForm" > 
                <input type="hidden" id="id" value="">
                   <h3>What are you grateful for today...</h3><textarea rows="3" type="text" id="postMsg" required></textarea>
                   
                        <br/><br/>
                          <input type="submit" class="btn btn-success" id ="updateUserInfo" value="Post">
                            
                      
                      
                        <p><strong>I am grateful for my 3 cats</strong></p>
                       They make me laugh all the time!
                  </p>
                    <ul class="meta-post">
                      <li><i class="icon-calendar"></i><a href="#"> Mar 13, 2019</a></li>
                      <li><i class="icon-user"></i><a href="#"> Adrian Nadeau</a></li>
                      
                    </ul>
                        
                      
                    
          </form>
          </div>
        
          </div>
        </div>
          
    </section>
    <% include partials/footer %>
  </div>
  <a href="#" class="scrollup"><i class="icon-chevron-up icon-square icon-32 active"></i></a>
  <!-- javascript
    ================================================== -->
    <% include partials/scripts %>

      <script>
  $(document).ready(function() {
        getUserInfo('info');
        $( "#account-link" ).click(function() {
        event.preventDefault();
        window.location.assign("/account/?id="+Id)
      });
      $( "#journal-link" ).click(function() {
        event.preventDefault();
        window.location.assign("/journal/?id="+Id)
      });
      $( "#support-link" ).click(function() {
        event.preventDefault();
        window.location.assign("/support/?id="+Id)
      });
      
          
  });
  </script>
</body>

</html>
