<!DOCTYPE html>
<html lang="en">

<head>
  <% include partials/head %>
</head>

<body>
  <div id="wrapper">
    
    <!-- end header -->
    <section id="inner-headline">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="inner-heading">
                <% include partials/logo %>
              &nbsp;
            </div>
          </div>
          
      </div>
    </section>
    <section id="content">
      <div class="container">
        <div class="row">
            <div class="span3"></div>
            <div class="span6">
           
           
           <h4>Reset<strong> Password.</strong></h4>
            <form class="form-horizontal" id="updateUserPassword" >
                <div class="alert alert-danger text-center alert-reset" role="alert"></div>
                <div class="alert alert-success text-center" role="alert"></div>
                <input type="hidden" id="id-hidden" value=""></input>
                  
                  <div class="controls">
                      
                      <strong>Password</strong><br/><input type="password" class="form-control custom-input-width" minlength="6" id="password" required>
                    
                  </div>
                  <div class="controls">
                      
                      <strong>Confirm Password</strong><br/><input type="password" class="form-control custom-input-width" minlength="6" id="confirmpassword" required>
                    
                  </div>
                
                
                  
                  <div class="control-group">
                    <div class="controls">
                        <br/>
                        <input type="submit" class="btn btn-success" id ="updateProfile" value="Save Changes">
                    
                      <input type="submit" class="btn btn-default" id="btn-cancel" value="Cancel">
                      
                    </div>
                </form>
            <div class="span3"></div>
          </div>
        </div>
    </section>
          
    <% include partials/footer %>
  

  </div>
  <a href="#" class="scrollup"><i class="icon-chevron-up icon-square icon-32 active"></i></a>
  <% include partials/scripts %>
  <script src="/assets/js/sign-in.js"></script>

   <script>
  $(document).ready(function() {
        getUserInfo('resetpassword');
  });
  </script>
</body>
<% include partials/cookie-msg %>

</html>
