body {
  overflow-x: hidden; }

.bg-light {
  background-color: #f2f4f9 !important; 
margin-top:-60px !important}

.pb_icon-gradient:before {
  background: #665fee;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #665fee 0%, #27c2de 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #665fee 0%, #27c2de 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -o-linear-gradient(45deg, #665fee 0%, #27c2de 100%);
  background: linear-gradient(45deg, #665fee 0%, #27c2de 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.pb_slant-light,
.pb_slant-white {
  position: relative; }
  .pb_slant-light:after,
  .pb_slant-white:after {
    content: "";
    position: absolute;
    bottom: -100px;
    left: -50px;
    height: 200px;
    width: 130%;
    background-color: #f2f4f9;
    -webkit-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    transform: rotate(-4deg);
    z-index: 10; }
  .pb_slant-light.pb_slant-reverse:after,
  .pb_slant-white.pb_slant-reverse:after {
    -webkit-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    transform: rotate(4deg);
    left: -100px;
    bottom: -140px; }

.pb_slant-white:after {
  background-color: #fff; }

.pb_section {
  padding: 1.5em 0; }

.pb_cover_v3 a, .pb_xl_py_cover a {
  color: rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid transparent; }
  .pb_cover_v3 a:hover, .pb_xl_py_cover a:hover {
    color: white;
    border-bottom: 2px solid white; }

.pb_cover_v3 .btn, .pb_xl_py_cover .btn {
  color: white; 
  width: 90%;
      margin-right: 100px;
    margin-left: 20px;
}
.heading{
  font-size:30px !important;
  color:#a11201;
  
}
.subpage-heading{
  font-size:40px !important;
  color:#a11201;
}
.sub_heading{
  font-size:18px !important;
  /* font-family: "Montserrat", Arial, sans-serif; */
  color:white;
  font-size:.8em !important;
}
.fa, .fas {
  font-weight: 500 !important;
}
.btn-shadow-blue{
  box-shadow: 0px 15px 28px -5px black !important;
}
.sub-nav{
  background-color:white;
  height:60px;
  padding:0px;
}
.custom-checkbox{
  height: 15px !important;
  width: 20px !important;

}
.join-today-index{
  padding-top:10px !important;
  margin-bottom: 20px;

}
.register-button{
    margin-bottom: -15px !important;
}
.home-login-button{
  width: 100% !important;

}
.footer-contentinfo{
        height: 25px !important;
}
.fa-2x {
    font-size: 1.5em;
}
.home-details{
    padding-bottom:25px;
}
.home-details-top{
    padding-bottom:25px;
}

.error-msg{
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  color: white !important;
}
.avatar-pic {
width: 100px;
}
.panel-title {
  margin-top: 10px !important;
  margin-bottom: 0;
  font-size: 200% !important;
}